{#
/**
 * @file
 * Theme override for a main view:sitemap template.
 */
#}
<div class="vote-sitemap vote-sitemap--register">
  {% if rows %}
    {{ rows }}
  {% elseif empty %}
    {{ empty }}
  {% endif %}
</div>
