@use '../variables' as *;

.usa-language-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem 0.5rem 0;

  .usa-button {
    a {
      color: #fff;
    }
  }
}

.usa-language__submenu {
  @media (max-width: 30em) {
    overflow: scroll;
    height: 80vh;
  }

  @media (min-width: 30em) {
    width: 483px;
  }
  border-radius: 3px;

  @media (min-width: 30em) {
    columns: 2 auto;
  }
}

.usa-language__submenu-item {
  padding: 10px;
  border: unset;
}

.switcher-desktop {
  @media (max-width: 800px) {
    display: none;
  }
}

.switcher-mobile {
  @media (min-width: 800px) {
    display: none;
  }
}
