@use "uswds-core" as *;
@use "../mixins/mixins";
@use '../variables' as *;

.search-container {
  border-top: 1px solid $dark-cool-gray;
  min-width: 100%;
  background: $color-blue-light;
  color: $color-blue-dark;
}

.search-bar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;

  [dir="rtl"] & {
    margin-left: unset;
    margin-right: auto;
  }

  .usa-button {
    background-color: $gray;
    border-radius: 0 7px 7px 0;

    [dir="rtl"] & {
      border-radius: 7px 0 0 7px;
    }
  }

  .usa-input {
    border: 1px solid $gray;
    border-radius: 7px 0 0 7px;
    max-width: none;

    [dir="rtl"] & {
      border-radius: 0 7px 7px 0;
    }
  }
}
