<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic usa-header--megamenu">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text"
          ><a href="/" title="<Project title>">vote.gov</a></em
        >
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button
            type="button"
            class="usa-accordion__button usa-nav__link usa-current"
            aria-expanded="false"
            aria-controls="basic-mega-nav-section-one"
          >
            <span>Current section</span>
          </button>
          <div
            id="basic-mega-nav-section-one"
            class="usa-nav__submenu usa-megamenu"
          >
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);"
                      >A very long navigation link that goes onto two
                      lines</a
                    >
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="usa-nav__primary-item">
          <button
            type="button"
            class="usa-accordion__button usa-nav__link"
            aria-expanded="false"
            aria-controls="basic-mega-nav-section-two"
          >
            <span>Section</span>
          </button>
          <div
            id="basic-mega-nav-section-two"
            class="usa-nav__submenu usa-megamenu"
          >
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);"
                      >A very long navigation link that goes onto two
                      lines</a
                    >
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="javascript:void(0);">Navigation link</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      </section>
        <section aria-label="Search component">
          {% if twig_tweak_enabled == true %}
                {% include '@votegov/block/block-content--search.html.twig' %}
          {% endif %}
        </section>
    </nav>
  </div>
</header>