{% set state_name = label | field_value | render %}

<h2>{{ 'How to register to vote in @state_name' | t({ '@state_name': state_name }) }}</h2>
<p>{{ 'Voter registration is not required in @state_name. Learn more about voting on @state_name\'s election website.' | t({ '@state_name': state_name }) }}</p>
