<h2>{{ 'How to register to vote in @state_name' | t({ '@state_name': label | render }) }}</h2>
<div>{{ 'Voter registration is not required in @state_name. Learn more about voting on @state_name\'s election website.' | t({ '@state_name': label | render }) }}</div>
