<div{{ attributes.addClass(classes) }}>
  {# Check Registration #}

  {# Election Date #}
  {% if content.field_election_date | render %}
    {% set text = content.field_election_text.0['#text'] %}
    {% set election_date = text | t({'@date': content.field_election_date.0 | render }) %}
    {{ election_date }}
  {% endif %}

  {# Online Registration #}

  {# Mail Registration #}

  {# In Person Registration #}

  {# Outside the U.S. #}
</div>
