<div{{ attributes.addClass(classes) }}>
  {# Check Registration #}

  {# Election Date #}
  {% if content.field_election_date | render %}
    {% set election_date = "Voter registration deadlines are for the <strong>@election_date</strong> election." | t({'@election_date': content.field_election_date.0 | render }) %}
    {{ election_date }}
  {% endif %}

  {# Online Registration #}

  {# Mail Registration #}

  {# In Person Registration #}

  {# Outside the U.S. #}
</div>
