<div class="usa-section">
  <p>This is a test page filled with common HTML elements to be used to provide visual feedback whilst building CSS systems and frameworks.</p>

  <section id="text" class="usa-section">
    <article id="text__headings">
      <header>
        <div class="usa-label">Headings</div>
      </header>

      <div>
        <h1>Heading 1 (This is a typical heading but we are going to add more text to see how it looks when it's dropped down to two lines)</h1>

        <p>Diamin faucibu ent venenat tdonec morbi sed. Mattiss mauris liquam ipsumin quam daut volutp egesta dui. Nulla dictum cusut sed estsusp roin. Onec roin sedlorem inceptos sce pretium uisque temporse aesent. Enean sduis disse uada portad felisut ris dis nulla turpisf. Leopelle sacras cubilia roin varius portado tincid himenaeo.</p>

        <h2>Heading 2 (This is a typical heading but we are going to add more text to see how it looks when it's dropped down to two lines)</h2>

        <p>Diamin faucibu ent venenat tdonec morbi sed. Mattiss mauris liquam ipsumin quam daut volutp egesta dui. Nulla dictum cusut sed estsusp roin. Onec roin sedlorem inceptos sce pretium uisque temporse aesent. Enean sduis disse uada portad felisut ris dis nulla turpisf. Leopelle sacras cubilia roin varius portado tincid himenaeo.</p>

        <h3>Heading 3&nbsp;(This is a typical heading but we are going to add more text to see how it looks when it's dropped down to two lines)</h3>

        <p>Purus sodalesm liberos eleifend llam varius viverr antenunc potenti. Culus netus laut maurisd varius tur urient. Magnaqu urnavest aliquama adipisci turpisn sed viverra. Bibendu auris ulla tempusp necinte sit nisi antenull blandi. Dolordo vestib imperdie facili nequesed itur. Adipisci ullam enimsus puruscra aduis usce liberout hac liquam magna. Laciniai nibhcras sque quamnull lum uis oin llus sse uis.</p>

        <h4>Heading 4&nbsp;(This is a typical heading but we are going to add more text to see how it looks when it's dropped down to two lines)</h4>

        <p>Mollis msed duis nunccras egesta esent rutrum semper lum dolorve. Quam onec nislsed dignis enimphas sed tempor lectusn lobortis. Sed lacusnam aenean facilisi duinulla oin liberom. Orciut inproin anunc que morbi euismo. Vestib llus dolor nean vestibu proin velitsed cursus lobortis. Leoetiam odioin laciniai loremn turpis ies.</p>

        <h5>Heading 5&nbsp;(This is a typical heading but we are going to add more text to see how it looks when it's dropped down to two lines)</h5>

        <p>Diamin faucibu ent venenat tdonec morbi sed. Mattiss mauris liquam ipsumin quam daut volutp egesta dui. Nulla dictum cusut sed estsusp roin. Onec roin sedlorem inceptos sce pretium uisque temporse aesent. Enean sduis disse uada portad felisut ris dis nulla turpisf. Leopelle sacras cubilia roin varius portado tincid himenaeo.</p>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="text__paragraphs">
      <header>
        <div class="usa-label">Paragraphs</div>
      </header>

      <div>
        <p class="usa-intro">A introductory paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

        <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="text__blockquotes">
      <header>
        <div class="usa-label">Blockquotes</div>
      </header>

      <div>
        <blockquote>
          <p>It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.</p>
          <cite>Said no one, ever.</cite>
        </blockquote>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="text__lists">
      <header>
        <div class="usa-label">Lists</div>
      </header>

      <div>
        <h3>Definition list</h3>

        <dl>
          <dt>Definition List Title</dt>
          <dd>This is a definition list division.</dd>
        </dl>

        <h3>Ordered List</h3>

        <ol>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>

        <h3>Unordered List</h3>

        <ul>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="text__hr">
      <header>
        <div class="usa-label">Horizontal rules</div>
      </header>

      <div>
        <hr />
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="text__tables">
      <header>
        <div class="usa-label">Tabular data</div>
      </header>

      <table class="usa-table">
        <caption>Table Caption</caption>
        <thead>
        <tr>
          <th>Table Heading 1</th>
          <th>Table Heading 2</th>
          <th>Table Heading 3</th>
          <th>Table Heading 4</th>
          <th>Table Heading 5</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        </tbody>
      </table>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="text__inline">
      <header>
        <div class="usa-label">Inline elements</div>
      </header>

      <div>
        <p><a href="#!">This is a text link</a>.</p>

        <p><strong>Strong is used to indicate strong importance.</strong></p>

        <p><em>This text has added emphasis.</em></p>

        <p>The <b>b element</b> is stylistically different text from normal text, without any special importance.</p>

        <p>The <i>i element</i> is text that is offset from the normal text.</p>

        <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>

        <p><del>This text is deleted</del> and <ins>This text is inserted</ins>.</p>

        <p><s>This text has a strikethrough</s>.</p>

        <p>Superscript<sup>®</sup>.</p>

        <p>Subscript for things like H<sub>2</sub>O.</p>

        <p><small>This small text is small for for fine print, etc.</small></p>

        <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation.</q></p>

        <p><cite>This is a citation.</cite></p>

        <p>The <dfn>dfn element</dfn> indicates a definition.</p>

        <p>The <mark>mark element</mark> indicates a highlight.</p>

        <p>The time element: <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time></p>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>
  </section>

  <section id="embedded" class="usa-section">
    <article id="embedded__images">
      <header>
        <div class="usa-label">Images</div>
      </header>

      <div>
        <p>No <code>&lt;figure&gt;</code> element</p>

        <p><img alt="Image alt text" data-entity-type="" data-entity-uuid="" src="http://placekitten.com/480/480" /></p>

        <p>Wrapped in a <code>&lt;figure&gt;</code> element, no <code>&lt;figcaption&gt;</code></p>

        <figure><img alt="Image alt text" data-entity-type="" data-entity-uuid="" src="http://placekitten.com/420/420" /></figure>

        <p>Wrapped in a <code>&lt;figure&gt;</code> element, with a <code>&lt;figcaption&gt;</code></p>

        <figure><img alt="Image alt text" data-entity-type="" data-entity-uuid="" src="http://placekitten.com/420/420" />
          <figcaption>Here is a caption for this image.</figcaption>
        </figure>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="embedded__audio">
      <header>
        <div class="usa-label">Audio</div>
      </header>

      <div>
        <audio controls="">audio</audio>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="embedded__video">
      <header>
        <div class="usa-label">Video</div>
      </header>

      <div>
        <video controls="">video</video>
      </div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>

    <article id="embedded__iframe">
      <header>
        <div class="usa-label">IFrame video</div>
      </header>

      <div class="video-container"><iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/reVK7IqBDmc" width="560"></iframe></div>

      <footer>
        <p><a href="#top">[Top]</a></p>
      </footer>
    </article>
  </section>

  <section id="forms" class="usa-section">
    <form class="usa-form">
      <fieldset class="usa-fieldset" id="forms__input">
        <legend class="usa-legend">Input fields</legend>

        <p><label for="input__text" class="usa-label usa-label--required">Text Input</label> <input class="usa-input" id="input__text" placeholder="Text Input" type="text" required /></p>

        <p><label for="input__password" class="usa-label">Password</label> <input class="usa-input" id="input__password" placeholder="Type your Password" type="password" /></p>

        <p><label for="input__webaddress" class="usa-label">Web Address</label> <input class="usa-input" id="input__webaddress" placeholder="http://yoursite.com" type="url" /></p>

        <p><label for="input__emailaddress" class="usa-label">Email Address</label> <input class="usa-input" id="input__emailaddress" placeholder="name@email.com" type="email" /></p>

        <p><label for="input__phone" class="usa-label">Phone Number</label> <input class="usa-input" id="input__phone" placeholder="(999) 999-9999" type="tel" /></p>

        <p><label for="input__search" class="usa-label">Search</label> <input class="usa-input" id="input__search" placeholder="Enter Search Term" type="search" /></p>

        <p><label for="input__text2" class="usa-label">Number Input</label> <input class="usa-input" id="input__text2" placeholder="Enter a Number" type="number" /></p>

        <p><label  class="usa-label usa-label--error" for="input__text3">Error</label> <input class="usa-input usa-input--error" id="input__text3" placeholder="Text Input" type="text" /></p>
      </fieldset>

      <p><a href="#top">[Top]</a></p>

      <fieldset class="usa-fieldset" id="forms__select"><legend class="usa-legend">Select menus</legend>

        <p><label for="select" class="usa-label">Select</label> <select id="select" class="usa-select"> <optgroup label="Option Group"><option>Option One</option><option>Option Two</option><option>Option Three</option> </optgroup> </select></p>
      </fieldset>

      <p><a href="#top">[Top]</a></p>

      <fieldset id="forms__checkbox" class="usa-fieldset"><legend class="usa-legend">Checkboxes</legend>

        <ul class="list list--bare">
          <li class="usa-checkbox"><input class="usa-checkbox__input" checked="checked" id="checkbox1" name="checkbox" type="checkbox" /> <label class="usa-checkbox__label" for="checkbox1">Choice A</label></li>
          <li class="usa-checkbox"><input class="usa-checkbox__input" id="checkbox2" name="checkbox" type="checkbox" /> <label class="usa-checkbox__label" for="checkbox2">Choice B</label></li>
          <li class="usa-checkbox"><input class="usa-checkbox__input" id="checkbox3" name="checkbox" type="checkbox" /> <label class="usa-checkbox__label" for="checkbox3">Choice C</label></li>
        </ul>
      </fieldset>

      <p><a href="#top">[Top]</a></p>

      <fieldset id="forms__radio" class="usa-fieldset"><legend class="usa-legend">Radio buttons</legend>

        <ul class="list list--bare">
          <li class="usa-radio"><input checked="checked" class="usa-radio__input" id="radio1" name="radio" type="radio" /> <label class="usa-radio__label" for="radio1">Option 1</label></li>
          <li class="usa-radio"><input class="usa-radio__input" id="radio2" name="radio" type="radio" /> <label class="usa-radio__label" for="radio2">Option 2</label></li>
          <li class="usa-radio"><input class="usa-radio__input" id="radio3" name="radio" type="radio" /> <label class="usa-radio__label" for="radio3">Option 3</label></li>
        </ul>
      </fieldset>

      <p><a href="#top">[Top]</a></p>

      <fieldset class="usa-fieldset" id="forms__textareas"><legend class="usa-legend">Textareas</legend>

        <p><label for="textarea" class="usa-label">Textarea</label><textarea class="usa-textarea" cols="48" id="textarea" placeholder="Enter your message here" rows="8"></textarea></p>
      </fieldset>

      <p><a href="#top">[Top]</a></p>

      <fieldset id="forms__html5" class="usa-fieldset"><legend class="usa-legend">HTML5 inputs</legend>

        <p><label for="in" class="usa-label">Number input</label> <input class="usa-input" id="in" max="10" min="0" type="number" value="5" /></p>

        <p><label for="ir" class="usa-label">Range input</label> <input class="usa-range" id="ir" type="range" value="10" /></p>

        <p><label for="idd" class="usa-label">Date input</label> <input class="usa-input" id="idd" type="date" value="1970-01-01" /></p>

        <p><label for="idm" class="usa-label">Month input</label> <input class="usa-input" id="idm" type="month" value="1970-01" /></p>

        <p><label for="idw" class="usa-label">Week input</label> <input class="usa-input" id="idw" type="week" value="1970-W01" /></p>

        <p><label for="idt" class="usa-label">Datetime input</label> <input class="usa-input" id="idt" type="datetime" value="1970-01-01T00:00:00Z" /></p>

        <p><label for="idtl" class="usa-label">Datetime-local input</label> <input class="usa-input" id="idtl" type="datetime-local" value="1970-01-01T00:00" /></p>
      </fieldset>

      <p><a href="#top">[Top]</a></p>

      <fieldset id="forms__action" class="usa-fieldset"><legend class="usa-legend">Action buttons</legend>

        <p><input type="submit" class="usa-button" value="&lt;input type=submit&gt;" /> <input type="button" class="usa-button" value="&lt;input type=button&gt;" /> <input class="usa-button" type="reset" value="&lt;input type=reset&gt;" /> <input class="usa-button" disabled="disabled" type="submit" value="&lt;input disabled&gt;" /></p>

        <p><button class="usa-button" type="submit">&lt;button type=submit&gt;</button> <button type="button" class="usa-button">&lt;button type=button&gt;</button> <button type="reset" class="usa-button">&lt;button type=reset&gt;</button> <button class="usa-button" disabled="disabled" type="button">&lt;button disabled&gt;</button></p>

        <p><button class="usa-button" type="submit">&lt;button type=submit&gt;</button> <button type="button" class="usa-button">&lt;button type=button&gt;</button></p>

        <p><button class="usa-button usa-button--big" type="submit">&lt;button type=submit&gt;</button> <button type="button" class="usa-button usa-button--big">&lt;button type=button&gt;</button></p>
      </fieldset>

      <p><a href="#top">[Top]</a></p>
    </form>
  </section>
</div>
