{% extends "page.html.twig" %}

{% block main %}
  <main role="main" id="main">
    {# link is in html.html.twig #}
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>
{% endblock %}
