{% extends "page.html.twig" %}
{% set title = drupal_title() %}

{% block main %}
    <section class="vote-hero vote-hero--dark">
      <div class="vote-hero__container">
          <div class="vote-hero__image">
            <img src="../../img/fpo_hero.jpg">
          </div>
        <div class="vote-hero__callout">
        {{ drupal_entity('block', 'votegov_breadcrumbs') }}
          <h1 class="vote-hero__heading">
              {{ title }}
          </h1>
        {{ node.field_subtitle.value  | check_markup(node.field_subtitle.format) }}
        </div>
      </div>
    </section>

      <div class="voter-guide usa-in-page-nav-container">
          <aside
          class="usa-in-page-nav"
          data-title-text="On this page"
          data-title-heading-level="h5"
          data-scroll-offset="0"
          data-root-margin="0px 0px 0px 0px"
          data-threshold="1"
          ></aside>
    <main role="main" id="main">
      {# link is in html.html.twig #}
      <a id="main-content" tabindex="-1"></a>

        <div class="voter-guide__content"> 
              {{ page.content }}
        </div>
    </div>
    </main>
{% endblock %}


