{% extends "page.html.twig" %}
{% set title = drupal_title() %}
{% set excludedLanguages = ['ar', 'am', 'bn', 'zh-hans', 'zh', 'hi', 'ja', 'km', 'ru', 'ko'] %}

{% block main %}
  <main role="main" id="main-content">
    {% include '@votegov/component/hero.html.twig' with {
      'heading': title,
      'body': node.field_subtitle.value  | check_markup(node.field_subtitle.format),
      'media': drupal_field('field_media', 'node', node.id(), {type: 'media_thumbnail', settings: {image_style: 'scaled_lg' }}) | field_value,
      'variant': 'dark'
    } %}
    <div class="vote-main-content-row vote-block-margin-y--narrow grid-container {% if language not in excludedLanguages %} usa-in-page-nav-container {% endif %}">
{% if language not in excludedLanguages %}
  <aside class="vote-side-nav__container">
    <div
      class="usa-in-page-nav"
      data-main-content-selector=".usa-in-page-nav-container"
      data-title-text="{{ 'On this page' | t }}"
      data-title-heading-level="h2"
      data-scroll-offset="-600"
      data-root-margin="48px 0px -90% 0px"
      data-threshold="1"
    ></div>
  </aside>
      {% endif %}
      <div class="vote-page-content vote-page-content--alt">
        {{ page.content }}
      </div>
    </div>
  </main>
  <div role="region" aria-label="{{ 'Know your voting rights' | t }}">
  {# Voter guide listing #}
  {{ drupal_view('voter_guides', 'embed_1') }}
  </div>
{% endblock %}
