{% extends "page.html.twig" %}
{#
/**
* @file
* Theme override to display a single page: Landing page.
*/
#}
{% block main %}
  <main role="main" id="main-content">
    {{ page.content }}
  </main>
{% endblock %}
