{#
/**
 * @file
 *  Bixal USWDS Theme override to display a node: State/Territory - Online.
 */
#}

{% extends 'node--state-territory.html.twig' %}

{% block content %}
  {# How to register to vote #}
  <h2>{{ 'How to register and update your registration' | t({ '@state_name': state_name }) }}</h2>
  {# registration link, more info link #}
  {% if content.field_registration_link | render %}
    {% set registration_link = content.field_override_registration_link | field_value | render | default( content.field_registration_link | field_value | render ) %}
    {% set registration_link_text = "Start your online registration" | t({'@state_name': state_name}) %}

    {% if language != "en" and not content.field_override_registration_link | render %}
      {% set registration_link_text = registration_link_text ~ ' ' ~ in_english %}
    {% endif %}

    <p>{{ '@link on @state_name’s election website.' | t({
        '@link': { "#markup": "<a href=\"#{registration_link}\" data-state-ext=\"online-registration\">#{registration_link_text}</a>" } | render,
        '@state_name': state_name,
        '@of_state_name': of_state_name,
        '@in_state_name': in_state_name
      }) }}
    </p>
  {% endif %}
  {% if content.field_more_info_link | render %}
    {% set more_info_link = content.field_override_more_info_link | field_value | render | default( content.field_more_info_link | field_value | render ) %}
    {% set more_info_link_text = "register to vote by mail or in person" | t({'@state_name': state_name}) %}

    {% if language != "en" and not content.field_override_more_info_link | render %}
      {% set more_info_link_text = more_info_link_text ~ ' ' ~ in_english %}
    {% endif %}

    <p>{{ 'You can also @link on @state_name’s election website.' | t({
        '@link': { "#markup": "<a href=\"#{more_info_link}\" data-state-ext=\"offline-registration\">#{more_info_link_text}</a>" } | render,
        '@state_name': state_name,
        '@of_state_name': of_state_name,
        '@in_state_name': in_state_name
      }) }}
    </p>
  {% endif %}
{% endblock %}
