{% extends 'node.html.twig' %}  {% block content %}
    <a href={{ url }}>
    <div class="usa-card">
      <div class="usa-card__container">
        <div class="vote-feature-card__icon">
          {{ source( directory ~ '/img/feature-circle.svg' ) }}
        </div>
        <div class="vote-feature-card__content">
        <div class="usa-card__header">
            <h3 class="usa-card__heading">{{ label }}</h3>
        </div>
        <div class="usa-card__body">
            {{ content.body | render | striptags }}
        </div>
        </div>
      </div>
    </div>
  </a>
  {% endblock %}
