{% extends 'node--state-territory.html.twig' %}
{#
/**
 * @file
 *  Bixal USWDS Theme override to display a node: State/Territory - Not needed.
 */
#}

{% block aside %}
	{# keep empty for not needed #}
{% endblock %}

{% block content %}
	{% if registration_not_needed is not empty %}
		{# setting link text to be in inline hyper link #}
		{% if registration_not_needed.link_text %}
			{% set link_markup %}
			<a href="{{ more_info_link }}">{{ registration_not_needed.link_text | render | trim | t({'@state_name': title_english}) }}</a>
			{% endset %}
		{% endif %}
		{# setting body text to have palceholder for both state name and link #}
		{% set body = registration_not_needed.text['#markup']| t({'@state_name': title_english, '@link': {'#markup': link_markup } | render}) %}
    {# setting heading text to have palceholder for state name #}
    {% set heading = registration_not_needed.heading['#markup']| t({'@state_name': title_english | render}) %}

		{% include '@votegov/component/info-card.html.twig' with {
          'heading': heading,
          'body': body,
      } %}

	{% endif %}
	{% if military_overseas_registration is not empty %}
		{% include '@votegov/component/info-card.html.twig' with {
        'heading': military_overseas_registration.heading,
        'body': military_overseas_registration.text,
      } %}
	{% endif %}

{% endblock %}
