@use "uswds-core" as *;

@mixin full-width() {
  margin: 0 -50vw;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  overflow: hidden;
}

@mixin narrow-container() {
  @include at-media('tablet') {
    @include grid-col(10);
    @include grid-offset(1);
  }

  @include at-media('tablet-lg') {
    @include grid-col(8);
    @include grid-offset(2);
  }

  @include at-media('desktop-lg') {
    @include grid-col(7);
    @include grid-offset(3);
  }
}

@mixin max-width-input() {
  display: inline-block;
  max-width: 25rem;
  width: 100%;
  margin-bottom: 1rem;
}
