@use "uswds-core" as *;
@use "variables" as *;

@mixin vote-narrow-container {
  @include at-media('tablet') {
    @include grid-col(10);
    @include grid-offset(1);
  }

  @include at-media('tablet-lg') {
    @include grid-col(8);
    @include grid-offset(2);
  }

  @include at-media('desktop-lg') {
    @include grid-col(7);
    @include grid-offset(3);
  }
}

.vote-narrow-container {
  @include vote-narrow-container;
}

@mixin vote-block-margin-y {
  @include u-margin-y(6);

  @include at-media('desktop') {
    @include u-margin-y(10);
  }
}

.vote-block-margin-y {
  @include vote-block-margin-y;
}

@mixin vote-block-padding-y {
  @include u-padding-y(6);

  @include at-media('desktop') {
    @include u-padding-y(10);
  }
}

.vote-block-padding-y {
  @include vote-block-padding-y;
}

@mixin vote-block-margin-y--narrow {
  @include u-margin-y(4);

  @include at-media('desktop') {
    @include u-margin-y(6);
  }
}

.vote-block-margin-y--narrow {
  @include vote-block-margin-y--narrow;
}

@mixin vote-block-padding-y--narrow {
  @include u-padding-y(4);

  @include at-media('desktop') {
    @include u-padding-y(6);
  }
}

.vote-block-padding-y-narrow {
  @include vote-block-padding-y--narrow;
}

@mixin vote-block-item-margin-y {
  > * + * {
    @include u-margin-top(2);
  }
}

.vote-block-item-margin-y {
  @include vote-block-item-margin-y;
}

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin after {
  &:after {
    content: '';
    @content;
  }
}

@mixin before {
  &:before {
    content: '';
    @content;
  }
}

@mixin vote-link {
  @include u-text('underline');
  color: $base-primary;

  &:visited,
  &:active {
    color: $base-primary;
  }

  @include hover {
    @include u-text('no-underline');
    background-color: $base-primary-hover;
    color: $base-white;
  }
}

@mixin vote-link-dark {
  @include u-text('underline');
  color: $base-white;

  &:visited,
  &:active {
    color: $base-white;
  }

  @include hover {
    @include u-text('underline');
    background-color: transparent;
    color: $ac-cool-light;
  }
}

@mixin vote-solid-border-top {
  @include u-border-top(1px);
  @include u-border-top('solid');
  border-color: $bg-light-medium;
}

.vote-solid-border-top {
  @include vote-solid-border-top;
}

@mixin vote-fill {
  @include u-top(0);
  @include u-bottom(0);
  @include u-left(0);
  @include u-right(0);
}

.vote-fill {
  @include vote-fill;
}
