@use 'uswds-core' as *;
@use '../variables' as *;
@use '../../src/sass/mixins/mixins' as *;

.bold-text {
  font-weight: 700;
}

.text-color-blue {
  color: $color-blue-headings;
}

.text-grey {
  color: $color-grey-dark;
}

.font-size-medium {
  font-size: 1.3em;
}

.main-heading {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;

  @include at-media-max(tablet-lg) {
    span[hidden] {
      display: inline;
    }
  }
}

.nonvfont,
.nonvfont * {
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
