{#
/**
 * @file
 * Default theme implementation to display a paragraph: Basics Block.
 */
#}

{%
  set classes = [
    'basics-block',
    'type--secondary',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="basics-block--container">
    {% if content.field_heading | render %}
    <div class="basics-block--heading-container">
      <h2>{{ content.field_heading | field_value }}</h2>
    </div>
    {% endif %}
    <div class="basics-block--content">
      {{ content.field_body | field_value }}
      {{ content.field_basics_modules | field_value }}
    </div>
  </div>
</div>
