{#
/**
 * @file
 * Default theme implementation to display a paragraph: Quick Links.
 */
#}

<section class="vote-quicklinks">
  <div class="vote-quicklinks__container">
    <div class="vote-quicklinks__heading vote-heading--red-underline">
      <h2>
        {{ content.field_heading | field_value }}
      </h2>
    </div>
    <div class="vote-quicklinks__content">
      {{ content.field_body | field_value }}
      {% if content.field_link | render %}
        <p>{{ content.field_link | field_value }}</p>
      {% endif %}
    </div>
  </div>
</section>
