{#
/**
 * @file
 * Default theme implementation to display a paragraph: Basics Block.
 */
#}

<section class="vote-hero">
  <div class="vote-hero__container">
    <div class="vote-hero__callout">
      <h1 class="vote-hero__heading">
        {{ content.field_heading | field_value }}
      </h1>
      {% if content.field_body | render %}
        <div class="vote-hero__text usa-intro">
        {{ content.field_body | field_value }}
        </div>
      {% endif %}
      {% include '@votegov/component/button.html.twig' with {
        'href': paragraph.field_link.0.url,
        'label': paragraph.field_link.0.title,
        'secondary': true
      } %}
    </div>
    {% if content.field_media | render %}
    <div class="vote-hero__image">
      {{ content.field_media | field_value }}
    </div>
  {% endif %}
  </div>
</section>
