{% extends 'paragraph.html.twig' %}

{% block content %}
  <div class="grid-container">
    <div class="vote-feature-cards__header">
      <h2>{{ content.field_heading | field_value }}</h2>
    </div>
    <ul class="usa-card-group">
      {{ content.field_cards | field_value }}
    </ul>
  </div>
{% endblock %}
