{#
/**
 * @file
 * Default theme implementation to display a paragraph: Basics Block.
 */
#}

{%
  set classes = [
    'vote-basics-block',
    'type--secondary',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if content.field_heading | render %}
    <h2 class="vote-heading--red-underline">
      {{ content.field_heading | field_value }}
    </h2>
  {% endif %}
  <div class="vote-basics-block__content">
    {% if content.field_body | render %}
      <div class="vote-basics-block__text">
        {{ content.field_body | field_value }}
      </div>
    {% endif %}
    {{ content.field_basics_modules | field_value }}
  </div>
</div>
