{#
/**
 * @file
 * Default theme implementation to display a paragraph: Double deck card
 */
#}

<div class="vote-double-deck-card">
  {% block content %}
  <div class="vote-double-deck-card__primary">
    <div class="vote-double-deck-card__icon">
      {{ source(directory ~ '/img/svg/map-icon.svg' ) }}
    </div>
    <div class="vote-double-deck-card__text">
  <h3 class="vote-double-deck-card__heading">{{ content.field_heading | field_value }}</h3>
      <div class="vote-double-deck-card__body">{{ content.field_body | field_value }}</div>
    </div>
  </div>
  <div class="vote-double-deck-card__body_secondary">{{ content.field_body_secondary | field_value}}</div>
  {% endblock %}
</div>
