{#
/**
 * @file
 * Default theme implementation to display a paragraph: Basic
 */
#}

<section class="vote-basic">
  <div class="vote-basic__container">
    <div class="vote-basic__heading heading--red-underline">
      <h2>
        {{ content.field_heading | field_value }}
      </h2>
    </div>
    <div class="vote-basic__content">
      {{ content.field_body | field_value }}
    </div>
  </div>
</section>
