

{% block content %}
{% set classes = [ 
    content.field_classes | field_value | render
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
      </div>
      <div class="tablet:grid-col-8 right-shift">
            <section class="page-section registered">
              <header>
                <h2 class="content-heading">{{ content.field_heading | field_value }}</h2>
              </header>
              <div class="voter-resources">
              {{ content.body | field_value }}
              </div>
            </section>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}