{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'usa-alert',
  'usa-alert--warning',
  content.field_alert_type | render ? 'usa-alert--' ~ content.field_alert_type | field_value | render
] %}

<div{{ attributes.addClass(classes)}}>
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">{{ content.field_heading | field_value }}</h4>
      <p class="usa-alert__text">{{ content.field_alert_content | field_value }}</p>
    </div>
</div>
