{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'usa-alert',
  content.field_alert_type | render ? 'usa-alert--' ~ content.field_alert_type | field_value | render
] %}

<div{{ attributes.addClass(classes)}}>
  <div class="grid-container">
    <div class="usa-alert__body">
      <div class="usa-alert__text">
        {{ content.field_alert_content | field_value }}
      </div>
    </div>
  </div>
</div>
