{#
/**
 * @file
 * Theme override to display a block.
 */
#}


{# Blue banner with page title #}
<div class="bg-blue css-arrow">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          {% include '@vote_gov/partial/site-logo.html.twig' %}
        </div>
        <div id="skip-target" class="tablet:grid-col-8 right-shift">
          <div class="align-center">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
</div>
