{#
/**
 * @file
 * Default theme implementation to USWDS button component.
 *
 * USWDS template variables:
 * - label: string
 * - href: string or uri
 * - secondary: boolean (true / false)
 * - id: string
 *
 * Usage example:
 * {% include '@votegov/component/button.html.twig' with {
 *   'label': var_string,
 *   'href': var_uri,
 *   'secondary': false,
 *   'id': var_id
 * } %}
 *
#}

{%
  set classes = [
    'usa-button',
    secondary ? 'usa-button--secondary'
  ]
%}

{% if label %}
  {% if href %}
    {{ link(label, href, create_attribute().addClass(classes).setAttribute(data_label, data)) }}
  {% else %}
    <button{{ create_attribute().addClass(classes).setAttribute('type', 'button').setAttribute('id', (id | clean_id)) }}>{{ label }}</button>
  {% endif %}
{% endif %}
