<div class="vote-feature-cards">
  <h2 class="vote-feature-cards__header vote-heading--red-underline vote-heading--max-width">
    {{ heading }}
  </h2>
  <ul class="usa-card-group">
    {{ cards }}
  </ul>
</div>
