<div class="vote-info-card">
	<div class="vote-info-card__container">
		<h2 class="vote-info-card__header">
			{{ heading }}
		</h2>
		{% if body %}
			<div class="vote-info-card__body">
				{{ body }}
			</div>
		{% endif %}
		{% if link %}
			<div class="vote-info-card__button">
				{% include '@votegov/component/button.html.twig' with {
            'href': link_url,
            'label': link_title,
          } %}
			</div>
		{% endif %}
	</div>
</div>
