{#
/**
 * @file
 * Default theme implementation to partial: to top.
 *
 * Usage example:
 * {% include '@votegov/component/to-top.html.twig'} %}
 *
#}

{{ attach_library('votegov/to_top') }}
<a href="#" title="{{ 'Back to top' | t }}" class="back-to-top"></a>
