<p class="arrow-text">
    <a href="{{ '/' ~ (language != 'en' ? language) }}" title="Vote.gov" data-test="back-button">
        <span class="arrow direction"></span>
        {{ 'Go back' | t }}
    </a>
</p>
