{#
/**
 * partial
 * Voter online registration deadline
 *
 */
#}
{% set deadline = content.field_online_deadline | field_value | default(content.field_g_online_deadline | field_value) %}

{% if deadline %}
  <li><span class="bold-text">{{ 'Online registration deadline:' | t }}</span> {{ deadline | render }}</li>
{% endif %}
