{#
/**
 * @file
 * Theme override for a main view:sitemap template.
 */
#}
<div class="sitemap">
  <ul class="register-nav usa-list">
  {% if rows %}
      {{ rows }}
  {% elseif empty %}
      {{ empty }}
  {% endif %}
  </ul>
</div>
