// Include core in order to use USWDS mixins etc...
@use "uswds-core" as *;

details {
  @include u-margin-bottom(4);

  > summary {
    @include u-bg('info-light');
    cursor: pointer;
    @include u-padding(2);
  }

 > summary > * {
    display: inline;
  }

  > div {
    @include u-border(2px, "solid", "info-light");
    margin-top: 0;
    @include u-padding-x(3);
    @include u-padding-y(5);
  }
}
