{#
/**
 * @file
 * Default theme implementation to USWDS summary box component.
 *
 * USWDS template variables:
 * - id: numeric string
 * - title: field object value
 * - text: field object value
 * - classes: classes array
 *
 * Usage example:
 * {% include '@vote_gov/uswds/usa-summary-box.html.twig' with {
 *   'id': var_id,
 *   'title': var_title | field_value,
 *   'text': var_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}
{% set usa_classes = [
  'usa-summary-box',
  'component',
  'component--type--summary-box',
] %}

<div{{ attributes.addClass(usa_classes | merge(classes | default([]))).setAttribute('role', 'region').setAttribute('aria-labelledby', 'summary-box-' ~ id) }}>
  {% block content %}
    <div class="usa-summary-box__body">

      <h2 id="summary-box-{{ id }}" class="usa-summary-box__heading">
        {{ title }}
      </h2>

      <div class="usa-summary-box__text">
        {{ text }}
      </div>

    </div>
  {% endblock %}
</div>
