{#
/**
 * @file
 * Default theme implementation to USWDS process list item component.
 *
 * USWDS template variables:
 * - is_large_text: boolean
 * - title: field object value
 * - text: field object value
 * - classes: classes array
 *
 * Usage example:
 * {% include '@vote_gov/uswds/usa-process-list-item.html.twig' with {
 *   'is_large_text': var_is_large_text,
 *   'title': var_title | field_value,
 *   'text': var_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% if is_large_text == true %}
  {% set large_text = 'font-sans-xl line-height-sans-1 padding-bottom-2' %}
{% endif %}

{% set usa_classes = [
  'usa-process-list__item',
  'maxw-full',
  'component',
  'component--type--usa-process-list-item',
] %}

<li{{ attributes.addClass(usa_classes | merge(classes | default([]))) }}>
  {% block content %}

    <h2 class="usa-process-list__heading {{ large_text -}}">
      {{ title }}
    </h2>

    {{ text }}

  {% endblock %}
</li>
