{#
/**
 * @file
 * Default theme implementation to USWDS site alert component.
 *
 * USWDS template variables:
 * - alert_aria: string
 * - alert_style: 0 or 1
 * - title: string
 * - text: string
 * - classes: classes array
 *
 * Usage example:
 * {% include '@vote_gov/uswds/usa-site-alert.html.twig' with {
 *   'alert_aria': var_alert_aria,
 *   'alert_style': var_alert_style,
 *   'title': var_title | field_value,
 *   'text': var_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_classes = [
  alert_style == 1 ? 'usa-site-alert--emergency',
  'usa-site-alert',
  'usa-site-alert--info',
  'component',
  'component--type--usa-site-alert',
] %}

<section class="display-flex flex-justify-center" aria-label="{{ alert_aria }}">
  <div{{ attributes.addClass(usa_classes | merge(classes | default([]))) }}>
    {% block content %}
      <div class="usa-alert">
        <div class="usa-alert__body">

          <h2 class="usa-alert__heading">{{ title }}</h2>

          {% if text %}
            <div class="usa-alert__text">
              {{ text }}
            </div>
          {% endif %}

        </div>
      </div>
    {% endblock %}
  </div>
</section>
