{#
/**
 * @file
 *  Vote.gov USWDS Theme override to display a node.
 */
#}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'voter-info',
  'page-type--basic',
] %}

<div class="bg-lightblue">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
      </div>
      <div class="tablet:grid-col-8 right-shift">
        <section{{ attributes.addClass(classes) }}>
          <div class="about-page">
            {# Title banner and main content #}
            {{ content }}
          </div>
        </section>
          {# Homepage link #}
          {% include '@vote_gov/partial/homepage-link.html.twig' %}
      </div>
    </div>
  </div>
</div>



