{#
/**
 * @file
 *  Vote.gov USWDS Theme override to display: full for State/Territory page node.
 *
 */
#}
{% extends 'node.html.twig' %}

{% block content %}
{% set reg_type = content.field_registration_type | field_value | column('#markup') %}

{% if 'Not needed' in reg_type %}
    {% include '@vote_gov/partial/register/registration-type--not-needed.html.twig' %}
{% elseif 'Online' in reg_type %}
    {% include '@vote_gov/partial/register/registration-type--online.html.twig' %}
{% elseif 'By-mail' in reg_type %}
    {% include '@vote_gov/partial/register/registration-type--mail.html.twig' %}
{% elseif 'In-person' in reg_type %}
    {% include '@vote_gov/partial/register/registration-type--in-person.html.twig' %}
{% endif %}

<p>{{'Last updated:' | t }}{{ node.revision_timestamp.value | date('F d, Y') }}</p>
    
    {# Homepage link #}
{% include '@vote_gov/partial/homepage-link.html.twig' %}

{% endblock %}
