@use "uswds-core" as *;
@use "variables" as *;

body {
  color: $base-dark;
}

.vote-columns--two {
  @include at-media('tablet-lg') {
    column-count: 2;
    column-gap: 2rem;
  }
}

.grid-container {
  @include at-media('tablet') {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
