@use "uswds-core" as *;
@use "variables" as *;

body {
  color: $base-dark;
}

.vote-columns--two {
  @include at-media('tablet-lg') {
    column-count: 2;
    column-gap: 2rem;
  }
}

.grid-container {
  @include at-media('tablet') {
    @include u-padding-x(10);
  }
}
