@use "uswds-core" as *;
@use "variables" as *;

body {
  --body-txt-color: #{$base-dark};
  color: var(--body-txt-color);
  background-color: var(--main-color);

  [data-theme="contrast"] & {
    --body-txt-color: #{$text-high-contrast};
  }

  &.usa-js-mobile-nav--active {
    overflow: unset;
  }
}
