@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

// Figure
figure {
  @include u-margin-x('auto');
  @include u-margin-y('auto');
  @include vote-block-item-margin-y;
}

figcaption {
  @include u-font-family('sans');
  @include u-font-size('sans', 4);
  @include u-display('block');
}

// Video
Video,
.vote-media--remote-video__container iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

// Image
img {
  max-width: 100%;
  height: auto;

  figure.media--type--image & {
    display: block;
    background-color: $bg-light-cool;
  }
}
