@use "uswds-core" as *;
@use "variables" as *;

// Headings
h1 {
  --h1-txt-color: #{$base-dark};
  @include u-font-family('serif');
  @include u-text('bold');
  @include u-margin-top(5);
  color: var(--h1-txt-color);

  @include at-media-max('tablet') {
    @include u-font-size('serif', 12)
  }

  [data-theme="contrast"] & {
    --h1-txt-color: #{$text-high-contrast};
  }

  &:first-child {
    @include u-margin-top(0);
  }

  .page-masthead & {
    color: $base-white;
  }
}

h2,
h3,
h4,
h5,
h6 {
  --h-txt-color: #{$base-dark};
  @include u-font-family('sans');
  @include u-text('no-uppercase');
  @include u-font-weight('medium');
  @include u-margin-top(5);
  @include u-text('ls-auto');
  color: var(--h-txt-color);

  [data-theme="contrast"] & {
    --h-txt-color: #{$text-high-contrast};
  }

  &:first-child {
    @include u-margin-top(0);
  }

  .type--secondary & {
    @include u-font-family('serif');
    @include u-font-weight('bold');
  }
}

// Paragraph
p {
  .page-content & {
    &:has(.usa-button) {
      @include u-margin-top(5);
    }
  }
}

// Lists
ul, ol {
  main & {
    &:last-child {
      @include u-margin-bottom(0);
    }

    > li + li {
      @include u-margin-top(1);
      @include u-margin-bottom('auto');
    }
  }
}

// Blockquote
blockquote {
  @include u-font-family('sans');
  @include u-font-size('sans', 8);
  @include u-line-height('sans', 5);

  * + & {
    @include u-margin-top(5);
  }

  + * {
    @include u-margin-top(5);
  }
}

cite {
  @include u-font-size('sans', 4);
  @include u-display('block');

  * + & {
    @include u-margin-top(2);
  }
}

small {
  @include u-font-size('serif', 3);
}

hr, p + hr {
  @include u-border(0);
  @include u-margin-y(3);
  border-bottom: 1px solid $bg-light-medium;
}

main {
  @include u-font-family('serif');
}

.type--secondary {
  @include u-font-family('sans');
}

.nonvfont,
.nonvfont * {
  @include u-font-family('sans');
}
