@use "uswds-core" as *;
@use "variables" as *;

.usa-language-container {
  background-color: $bg-light;

  @include at-media('tablet') {
    @include u-position('absolute');
    @include u-left(0);
    @include u-right(0);
    top: 2rem; // custom units
  }

  @include at-media-max('tablet') {
    @include u-padding-y(1);
    @include u-border-y('1px');
    border-color: $bg-light-medium;
  }
}

.usa-language__primary {
  @include at-media('tablet') {
    @include u-position('absolute');
  }

  @include at-media-max('tablet') {
    @include u-maxw('mobile');
  }
}

.usa-language__submenu {
  @include u-padding(2.5);
  @include u-width('auto');
  @include u-radius('sm');
  @include u-text('no-wrap');

  @include at-media-max('tablet') {
    overflow: auto;
    height: 80vh;
  }

  @include at-media('tablet') {
    columns: 2 auto;
  }

  [dir="rtl"] .usa-language__primary-item & {
    right: unset;
    left: 0;
  }
}

.usa-language__submenu-item {
  @include u-padding(1);
  @include u-border(0);
}

.language-selector {
  @include at-media('tablet') {
    position: absolute;
  }
}