@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-form {
  @include u-maxw('tablet');

  .usa-sign-up & {
    @include u-font-family('serif');
  }
}

.usa-input {
  @include u-padding(1.5);
  @include u-height('auto');
  @include u-line-height('sans', 1);
  @include u-font-size('sans', 5);
}

.nvrf-app-container {
  .usa-form {
    a {
      @include vote-link-bg;
    }

    .usa-input {
      height: 40px !important;
    }
  }
}

::placeholder {
  --input-placeholder--text: inherit;
  color: var(--input-placeholder--text);

  [data-theme="contrast"] & {
    --input-placeholder--text: #{$text-high-contrast};
    opacity: 1; //override Firefox
  }
}
