@use "uswds-core" as *;
@use "variables" as *;

#usa-search--expandable {
  form {
    @include at-media-max('tablet-lg') {
      @include u-margin(2);
    }

    .usa-input {
      @include u-padding-x(2);
      @include u-padding-y(1);
      width: 100%;
      height: 40px;
      border-radius: 4px 0px 0px 4px;
      border-top: 1px solid #565C65;
      border-bottom: 1px solid #565C65;
      border-left: 1px solid #565C65;
      background: #FFF;
      color: #A9A9A9;
      font-size: 14px;
      font-weight: 500;
      }

      button {
        border-radius: 0px 4px 4px 0px;
        background: #345D96;
        display: flex;
        height: 40px;
        width: 40px;
        padding: 10px;
        justify-content: center;

        svg, svg>path {
          fill: #fff;
        }
      }
  }
}

.vote-search--desktop {
  @include at-media-max('mobile') {
    @include u-display('none');
  }

  @include at-media('mobile') {
    @include u-display('block');
  }
}

.vote-search--mobile {
  @include at-media-max('mobile') {
    @include u-display('block');
  }

  @include at-media('mobile') {
    @include u-display('none');
  }
}
