@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

// targeting inline alerts and individually setting the border color
.usa-alert {
  border-left: none;

  &.usa-alert--warning {
    border-inline-start: 0.5rem color('gold-20v') solid;
  }

  &.usa-alert--info {
    border-inline-start: 0.5rem color('accent-cool') solid;
  }
}

.usa-alert__body > * {
  margin-left: unset;
  margin-inline-start: 2.5rem;
}

.usa-alert .usa-alert__body {
  &:before {
    left: unset;
    inset-inline-start: 1rem;
  }
}
