@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-site-alert--info .usa-alert {
  --usa-alert-info-bg: #{color('cyan-5')};
  --usa-alert-info-border: #{$ac-cool-light};
  --usa-alert-info-text: #{color('base-darkest')};
  --usa-alert-info-icon: #{color('base-darkest')};
  @include u-border-left(0);
  background-color: var(--usa-alert-info-bg);
  border-inline-start: 0.5rem var(--usa-alert-info-border) solid;

  [data-theme="contrast"] & {
    --usa-alert-info-bg: #{$btn-secondary-bg-high-contrast-hover};
    --usa-alert-info-border: #{$bg-high-contrast};
    --usa-alert-info-text: #{$bg-high-contrast};
    --usa-alert-info-icon: #{$bg-high-contrast};
  }

  .usa-alert__body {
    background-color: var(--usa-alert-info-bg);
    color: var(--usa-alert-info-text);

    &.usa-alert--no-icon {
      @include u-padding-left(4);
    }

    &:before {
      background-color: var(--usa-alert-info-icon);

      @include u-left('auto');
      inset-inline-start: 0.5rem;

      @include at-media('tablet') {
        inset-inline-start: 4.5rem;
      }
    }
  }
}

.usa-site-alert--emergency .usa-alert {
  border-inline-start: 0.5rem color('red-warm-60v') solid;

  .usa-alert__body {
    @include u-border-left(0);
    border-inline-start: 0.5rem;

    a {
      color: $base-white;

      &:hover {
        @include u-color('gray-10')
      }
    }

    &:before {
      @include u-left('auto');
      inset-inline-start: 0.5rem;

      @include at-media('tablet') {
        inset-inline-start: 4.5rem;
      }
    }
  }
}

.usa-alert__text {
  margin-inline-start: 2.5rem;
}
