@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-footer__primary-section {
  @include vote-block-padding-y--narrow;
  background-color: $bg-dark;
  color: $base-white;
}

.usa-footer__secondary-section {
  @include u-padding(0);
  align-content: center;
  background-color: $bg-light-cool;
}

.usa-footer__logo {
  @include vote-remove-external-link;
  @include u-display('flex');
  @include u-flex('wrap');
  color: $base-dark;
  justify-content: space-between;

  @include at-media-max('tablet-lg') {
    @include u-flex('justify-center');
  }
}

.vote-partnership-container {
  @include u-display('flex');
  @include u-flex('wrap');
  @include u-margin-right(6);
  @include u-padding-y(4);

  @include at-media-max('tablet-lg') {
    @include u-flex('justify-center');
    @include u-margin-right(0);
  }
}
