@use "uswds-core" as *;
@use "mixins" as *;
@use "variables" as *;

#search {
  line-height: 2.6;

  &:hover .usa-input, &:hover .search-icon {
    background-color: #E2EDF2;
  }

  @include at-media-max('tablet') {
    padding-right: 24px;
    padding-left: 24px;
  }

  .usa-input {
    overflow: visible;
    background-color: #F7F9FA;
    text-indent: 40px;
      
    @include u-radius('lg');
    @include u-border('transparent');
    @include u-height(5);
    @include u-width('card');
    @include u-font('mono', 'md');
    
    @include at-media-max('tablet') {
      @include u-width('tablet');
      border-color: #D3D3D3;
    }

      &:focus {
        background-color: #F7F9FA;
        -webkit-transition: width .3s ease-in-out;
        -moz-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        border-color: #3E79BB;
        @include u-width('tablet');
        @include u-border(2px)
      }

      &:focus ~ .arrow-icon {
        display: block;
        border-color: #3E79BB;
        @include u-border(2px);
        @include u-border-left(0);
      }
    }

    .usa-input::placeholder {
      color: #11385B;
      opacity: 1;
    }

  .search-icon {
    background-color: #F7F9FA;
    border-color: #11385B;
    margin-right: -48px;

    @include u-radius-right(0);
    @include u-radius-left('lg');
    @include u-height(5);

      svg {
        fill: #3E79BB;
        top: 50%;
        -ms-transform: translateY(-4%);
        transform: translateY(-4%);
        padding: 0.4rem;
        margin-left: 5px;

        @include u-height(5);
        @include u-width(5);
      }
  }

  .arrow-icon {
    display: none;
    margin-left: -48px;
    background-color: #F7F9FA;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    border-color: #D3D3D3;
    @include u-radius-left(0);
    @include u-radius-right('lg');
    @include u-height(5);
    @include u-border(2px);
    @include u-border-left(0);

    @include at-media-max('tablet') {
      display: block;
      @include u-border(1px);
      @include u-border-left(0);
    }

    &:hover svg path {
      fill: #CB5154;
    }

      svg path {
        fill: #3E79BB;
        top: 50%;

        @include u-height(4);
        @include u-width(4);
        @include u-padding(1);
      }
  }
}