@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-identifier {
    @include vote-block-padding-y--narrow;
    @include u-border-top(1px);
    @include u-border-top('solid');
    border-color: $bg-light-medium;
    background-color: $base-white;
    color: $base-dark;

    @include at-media('tablet') {
        @include u-display('flex');
    }

    .usa-identifier__logo{
        @include u-margin-right(2);
    }

    .usa-identifier__identity
    {
        display:flex;
        @include at-media-max('tablet-lg'){
            @include u-margin-top(4);
        }
    }

    .usa-identifier__identity-disclaimer{
        @include u-position('relative');
        @include u-font-weight('normal');

        @include at-media('tablet-lg')
        {
            p {
                font-size: 16px;
                max-width: 75%;
            }
        }

        @include at-media-max('tablet-lg'){
            @include u-margin-y('auto');

            p {
                font-size: 14px;
                max-width: 100%;
            }
        }
    }

    .usa-identifier__section--usagov {
      @include at-media-max('tablet') {
        @include u-margin-top(4);
      }

        ul {
            list-style-type: none;
            @include u-padding(0);
            @include u-margin-y(5);

            @include at-media-max('tablet'){
                @include u-margin-top(4);
            }

            @include at-media('tablet') {
                columns: 2;
              column-gap: 2rem;
            }

            @include at-media('tablet-lg') {
                columns: 3;
              column-gap: 2rem;
            }

            p {
                @include u-margin-top(0);
            }
        }

        li {
            @include u-margin(0);

          + li {
            @include u-margin-top(5);

            @include at-media-max('tablet'){
                @include u-margin-top(4);
            }
          }
        }

        a {
            color: $base-dark;
            @include u-font-weight('bold');
            @include u-text('underline');
            :visited {
                color: $base-dark;
            }
            &:focus,
            &:hover {
                background-color: $base-primary-hover;
                color: $base-white;
                @include u-text('no-underline');
            }
        }
    }

    .vote-usa-contact-container{
        @include vote-remove-external-link;
        @include vote-solid-border-top;
        @include u-display('flex');
        @include at-media-max('tablet-lg'){
            flex-wrap: wrap;
        }
    }

    .usa-identifier__section--masthead {
        @include u-margin-y('auto');
        @include u-font-family('serif');
    }
}
