@use "uswds-core" as *;
@use "variables" as *;

.usa-button {
  .usa-form & {
    @include u-margin-top(3);
  }
}

// Custom usa-button overrides using USWDS mixins and other settings.
.usa-button:not(.usa-button--unstyled) {
  @include u-text('medium');
  padding: 0.9rem 1.4rem;
  background-color: $base-primary;

  &.usa-button--active {
    background-color: $base-dark;
  }

  &:hover,
  &:focus
  &.usa-focus,
  &.usa-button--hover {
    background-color: $base-primary-hover;
  }

  &.usa-button--secondary {
    background-color: $ac-warm;

    &.usa-button--active {
      background-color: $ac-warm-active;
    }

    &:hover,
    &:focus,
    &.usa-focus,
    &.usa-button--hover {
      background-color: $ac-warm-hover;
    }
  }

  .usa-language-container & {
    @include at-media-max('tablet') {
      @include u-width('full');
    }
  }
}
