@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-banner {
  --usa-banner-body-text: #{color('base-darkest')};
  --usa-banner-text: #{color('base-darkest')};
  @include u-position('relative');
  @include u-z(100);
  background-color: $bg-light;

  [data-theme="contrast"] & {
    --usa-banner-body-text: #{$bg-high-contrast};
    --usa-banner-text: #{$bg-high-contrast};
  }
}

.usa-banner__inner {
  height: 3.5rem;
  align-items: center;

  @include at-media-max('tablet') {
    @include u-padding-right(2);
    padding-inline-end: 0;
  }
}

.banner__text-container {
  @include u-flex('align-center');

  @include at-media('tablet-lg') {
    @include grid-col(8);
  }
}

.usa-banner__guidance {
  @include u-maxw('none');
}

.usa-banner__header {
  @include u-padding-y(0);
}

.usa-banner__header-text,
.usa-banner__button-text {
  @include u-font-size('sans', 3);
}

.usa-banner__header-text {
  color: var(--usa-banner-text);
}

.usa-banner__button-text {
  @include vote-link($color: $base-dark, $color-hover: $base-primary-hover);
  width: 0px;
  height: 0px;
  overflow: hidden;
  inset-inline-start: 1px;
  inset-inline-end: 1px;
}

.usa-banner__button {
  margin-inline-start: .5rem;
}


.usa-banner__button[aria-expanded="true"] {
  &:before,
  &:after {
    @include at-media-max('tablet') {
      @include u-right('auto');
      inset-inline-end: 0;
    }
  }
}

.usa-media-block__body, .usa-banner__guidance {
  color: var(--usa-banner-body-text);
}
