@use "uswds-core" as *;
@use "variables" as *;

.usa-identifier {
    @include u-padding-top(2);
    @include u-border-top(1px);
    @include u-border-top('solid');
    border-color: $bg-light-medium;
    background-color: $base-white;
    color: $base-dark;

    @include at-media('tablet') {
        @include u-display('flex');
        .grid-row {
            @include u-flex('no-wrap')
        }
    }

    .usa-identifier__container {
        @include u-padding-left(0);
    }

    .usa-identifier__logo{
        height: 36px;
        width: 172px;
    }

    .usa-identifier__identity-disclaimer{
        @include u-margin-top(6);
        @include u-position('relative');
        @include u-font-weight('normal');

        &:before {
            content: '';
            background-color: $ac-warm;
            @include u-display('block');
            @include u-position('absolute');
            @include u-width(0.5);
            @include u-height(10);
            @include u-margin-y('auto');
            bottom: 60px;
            left: 38px;
            rotate: 90deg;
        }

        p {
            max-width: 75%;
        }
    }

    .usa-identifier__section--usagov {
        ul {
            list-style-type: none;
            @include u-padding(0);
            @include u-margin(0);

            @include at-media('tablet') {
                columns: 2;
            }
            @include at-media-max('tablet') {
                columns: 1;
            }

            p {
                @include u-margin-top(0);
            }
        }

        li {
            @include u-margin-bottom(3);

            .vote__list-item-text{
                @include u-text('pre-line');
            }
        }

        a {
            color: $base-primary;
            @include u-font-weight('bold');
            @include u-text('underline');
            :visited {
                color: $base-primary;
            }
            &:focus,
            &:hover {
                background-color: $base-primary-hover;
                color: $base-white;
                @include u-text('no-underline');
            }
        }
    }
}