@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-nav {
  @include u-width('full');
  overflow: visible;

  @include at-media-max('tablet-lg') {
    @include u-padding(0);

    &.is-visible {
      @include u-position('relative');
    }
  }
}

.usa-nav__primary {
  &.usa-accordion {
    @include u-margin-top(0);
  }

  @include at-media-max('tablet-lg') {
    @include grid-container;
  }

  @include at-media('tablet-lg') {
    .usa-header--extended & {
      @include u-margin-left(0);
    }
  }
}

.usa-nav__primary-item {
  --usa-nav--primary-item-bg: #{$base-white};
  --usa-nav--primary-item-text: #{$base-dark};
  --usa-nav--primary-item-bg-hover: #{$base-dark};
  --usa-nav--primary-item-text-hover: #{$base-white};
  --usa-current-bg: #{$ac-warm};

  [data-theme="contrast"] & {
    --usa-nav--primary-item-bg: #{$bg-high-contrast};
    --usa-nav--primary-item-text: #{$bg-high-contrast};
    --usa-nav--primary-item-bg-hover: #{$bg-high-contrast};
    --usa-nav--primary-item-text-hover: #{$base-white};
    --usa-current-bg: #{$link-high-contrast-hover-blue};
  }

  @include at-media-max('tablet-lg') {
    border-top-color: $bg-light-medium;

    &:first-child {
      @include u-border-top(0);
    }

    > a.usa-nav__link,
    > button.usa-nav__link {
      @include u-font-size('serif', 6);
      @include u-font-family('serif');
      @include u-font-weight('bold');
      @include u-padding(2);
      @include u-width('full');
      color: $base-dark;

      @include hover {
        background-color: $bg-light-cool;
      }

      &:not(.usa-button):not(.usa-current) {
        color: $base-dark;
      }

      &.usa-current {
        @include after {
          @include u-display('none');
        }
      }
    }
  }

  @include at-media('tablet-lg') {
    > button.usa-nav__link,
    > a.usa-nav__link {
      @include u-font-weight('bold');
      @include u-padding-x(2);
      @include u-padding-y(2.5);
      @include u-font-size('sans', 5);
      @include u-line-height('sans', 4);
      color: var(--usa-nav--primary-item-text);

      &[aria-expanded="true"] {
        background-color: var(--usa-nav--primary-item-bg-hover);
        color: var(--usa-nav--primary-item-text-hover);
      }

      @include hover {
        background-color: var(--usa-nav--primary-item-bg-hover);
        color: var(--usa-nav--primary-item-text-hover);

        &[aria-expanded="false"] {
          span::after {
            background-color:  var(--usa-nav--primary-item-bg-hover);
          }
        }

        .usa-header--extended & {
          &:after {
            background-color: transparent;
          }
        }
      }

      &.usa-current {
        @include after {
          @include u-left(0);
          @include u-right(0);
          background-color: var(--usa-current-bg);
        }
      }
    }
  }
}

.usa-nav__submenu {
  @include at-media-max('tablet-lg') {
    border-top: 1px solid $bg-light-medium;
  }

  @include at-media('tablet-lg') {
    @include u-width('auto');
    @include u-padding-top(0);
    background-color: $base-dark;
  }
}

.usa-nav__submenu-item {
  > span {
    opacity: 0.6;
  }

  @include at-media-max('tablet-lg') {
    margin-inline-start: 1rem;
    border-top-color: $bg-light-medium;

    &:first-child {
      @include u-border-top(0);
    }

    > a.usa-nav__Link,
    > a.usa-current,
    > a:not(.usa-button):not(.usa-current),
    > span {
      @include u-font-size('sans', 5);
      @include u-padding-x(1);
      @include u-padding-y(1.5);
      @include u-display('block');
      color: $base-dark;
    }

    > a.usa-nav__Link,
    > a.usa-current,
    > a:not(.usa-button):not(.usa-current) {
      @include hover {
        background-color: $bg-light-cool;
      }
    }
  }

  @include at-media('tablet-lg') {
    > a,
    > span {
      @include u-padding-x(2);
      @include u-padding-y(1);
      @include u-display('block');
      color: $base-white;
    }
  }
}

.usa-nav__secondary {
  @include at-media-max('tablet-lg') {
    @include u-margin(0);
    @include grid-container;

    > section {
      @include u-padding-bottom(4);
      border-top: 1px solid $bg-light-medium;
    }
  }

  @include at-media('tablet-lg') {
    @include u-right(0);
    bottom: 5.5rem;
    inset-inline-end: 5rem;
  }
}

.usa-nav__link--parent {
  @include u-font-weight('bold');

  @include after {
    @include u-width(2);
    @include u-display('inline-block');
    margin-inline-start: 0.5rem;
    height: 0.75rem;
    background-color: $base-dark;
    mask: url('../../img/svg/arrow-white.svg') no-repeat;
    mask-size: contain;

    @include at-media('tablet-lg') {
      background-color: $base-white;
    }
  }
}

.usa-nav__close-container {
  @include u-height(0);
}

.usa-nav__close {
  @include u-margin(0);
  @include u-width('auto');
  @include u-height('auto');
  @include u-font-size('sans', 6);
  @include u-font-weight('medium');
  @include u-padding-x(0);
  @include u-padding-y(2);
  @include u-display('none');
  @include u-float('none');
  @include u-text-decoration('no-underline');
  margin-inline-start: auto;
  transform: translateY(-3.75rem);
  cursor: pointer;
  background-color: transparent;
  color: $base-dark;

  @include hover {
    @include u-text-decoration('underline');
  }

  @include after {
    @include u-width(2);
    @include u-display('inline-block');
    margin-inline-start: 0.5rem;
    height: 0.75rem;
    background: url('../../img/svg/close.svg') no-repeat;
    background-size: contain;
  }

  @include at-media-max('tablet-lg') {
    @include u-display('block');
  }
}

body.usa-js-mobile-nav--active {
  @include u-padding-right(0, '!important');
}
