@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-language-container {
  background-color: $bg-light;
  @include grid-container;
  @include u-position('relative');

  @include at-media('tablet-lg') {
    @include u-position('absolute');
    @include u-left(0);
    @include u-right(0);
    @include u-top(0);
  }

  @include at-media-max('tablet-lg') {
    @include u-padding-y(1);
    @include u-border-y('1px');
    border-color: $bg-light-medium;
  }
}

.usa-language__primary {
  .usa-banner & {
    @include at-media('tablet-lg') {
      @include u-position('absolute');
      @include u-top(0.5);
    }

    @include at-media-max('tablet-lg') {
      margin-inline-start: auto;
    }

    @include at-media-max('tablet') {
      @include u-maxw('mobile');
      @include u-width('full');
      margin-inline-end: auto;
    }
  }
}

.usa-media-block__img,
.usa-banner__header-flag {
  @include u-margin(0);
  margin-inline-end: 0.5rem;
}

.usa-language__submenu {
  --usa-language--submenu-bg: #{$base-dark};

  [data-theme="contrast"] & {
    --usa-language--submenu-bg: #{$btn-bg-high-contrast};
  }

  @include u-padding(2.5);
  @include u-width('auto');
  @include u-radius('sm');
  @include u-text('no-wrap');
  background-color: var(--usa-language--submenu-bg);

  .usa-language__primary-item:last-of-type & {
    @include u-right('auto');
    inset-inline-end: 0;
  }

  ul {
    @include u-padding(0);
    @include u-margin-top(0);
    list-style: none;
  }

  @include at-media-max('tablet') {
    @include u-height('viewport');
    @include u-width('full');
    @include u-padding(2);
    @include u-padding-bottom(6);
    @include u-z(500);
    @include vote-fill;
    overflow: auto;

    &[aria-hidden="true"]:not([hidden]) {
      display: block;
    }

    .usa-language__primary-item:last-of-type & {
      @include u-position('fixed');
    }

  }

  @include at-media('tablet') {
    columns: 2 auto;
  }
}

.usa-language__submenu-item {
  @include u-padding(1);
  @include u-border(0);
}


.usa-button.usa-language__link {
  --usa-language--link-bg: #{$base-dark};

  [data-theme="contrast"] & {
    --usa-language--link-bg: #{$btn-bg-high-contrast};
  }

  &[aria-expanded="true"] {
    @include u-radius-bottom(0);
    background-color: var(--usa-language--link-bg);
  }
}

.usa-language__close {
  @include u-margin-top('205');
  @include u-border(0);
  @include u-font-size('sans', 6);
  @include u-font-weight('medium');
  color: $base-white;
  padding-inline-end: 1.5rem;
  margin-inline-start: calc(100% - 90px);
  background: transparent url('../../img/svg/close-white.svg') no-repeat right 50%;
  cursor: pointer;

  [dir="rtl"] & {
    background-position: left 50%;
  }

  @include at-media('tablet') {
    @include u-display('none');
  }
}
