@use "uswds-core" as *;

.usa-language-container {
  display: flex;
  @include u-padding-x(2);
  @include u-padding-y(1);

  @include at-media('tablet') {
    @include u-margin-top(3);
    position: absolute;
    justify-content: flex-end;
    left: 0;
    top: 0;
    right: 0;
  }

  @include at-media-max('tablet') {
    @include u-height(8);
    position: relative;
    justify-content:center;
    background-color: #fff;
  }

  .usa-button {
    a {
      color: #fff;
    }
    @include at-media-max('tablet') {
      @include u-width('mobile');
    }
  }
}

.usa-language__submenu {
  @include u-padding(2.5);
  @include u-width('auto');
  @include u-radius('sm');
  white-space: nowrap;

  @include at-media-max('tablet') {
    overflow: auto;
    height: 80vh;
  }

  @include at-media('tablet') {
    columns: 2 auto;
  }
}

.usa-language__submenu-item {
  @include u-padding-x(1);
  @include u-padding-y(05);
  border: unset;
}

.usa-language__primary-item:last-of-type .usa-language__submenu {
  [dir="rtl"] & {
    right: unset;
    left: 0;
  }
}

.language-switcher {
  position: absolute;
}
