@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-card {
  @include at-media('tablet-lg') {
    @include u-margin(0);
  }

  > * {
    @include u-height('full');
  }

  @include at-media-max('tablet-lg') {
    @include u-margin(0);
    border-bottom: 1px solid $bg-light-medium;

    &:first-child {
      border-top: 1px solid $bg-light-medium;
    }
  }
}

.vote-card__link {
  @include u-display('block');
  @include u-text-decoration('no-underline');

  @include hover {
    background-color: transparent;
  }

  @include at-media('tablet-lg') {
    @include hover {
      svg {
        fill: $base-white;
      }

      .usa-card__heading,
      .usa-card__body {
        color: $base-white;
      }

      .usa-card__container {
        background-color: $base-primary;
        border: 2px solid $base-dark;
        box-shadow: 0px 4px 4px 0px rgba($base-dark, 0.25);
      }
    }
  }
}

.usa-card__container {
  background-color: transparent;

  @include at-media('tablet-lg') {
    @include u-padding-x(4);
    @include u-padding-y(5);
    @include u-margin(0);
    border: 2px solid transparent;
    outline: 1px solid $base-dark;
    transition: 0.3s background-color;

    > * + * {
      @include u-margin-top(3);
    }
  }

  @include at-media-max('tablet-lg') {
    @include u-flex-direction('row');
    @include u-margin(0);
    @include u-padding-y(4);
    border-radius: unset;
    gap: 1.5rem;
  }
}

.usa-card__heading {
  @include u-font-family('serif');
  @include u-font-size('serif', 9);
  @include u-text('bold');
  @include u-line-height('serif', 4);

  @include at-media('tablet-lg') {
    @include u-text('center');
  }

  @include at-media-max('tablet-lg') {
    @include u-text-decoration('underline');
  }
}

.usa-card__body {
  @include u-font('sans', 6);
  @include u-padding(0);
  color: $base-dark;

  &:last-child {
    @include u-padding-bottom(0);
  }
}

.vote-feature-card__content {
  @include at-media-max('tablet-lg') {
    @include grid-col('auto');
  }

  > * + * {
    @include u-margin-top(2);
  }
}

.vote-feature-card__icon {
  @include u-height(9);
  @include u-width(9);
  @include u-minw(8);

  @include at-media('tablet-lg') {
    @include u-margin-x('auto');
  }

  svg {
    fill: $base-dark;
  }
}


