@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-footer__primary-section {
  @include vote-solid-border-top;
  background-color: #f7f9fa;

  .grid-container {
    @include at-media-max('tablet-lg') {
      @include u-display('flex');
      @include u-padding(4);
    }
  }
}

.usa-footer__secondary-section {
  border-top: 1px solid #D3D3D3;
  align-content: center;
  background-color: #F7F9FA;
  padding: 0;
}

.usa-footer__logo {
  color: $base-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include at-media-max('tablet-lg') {
    justify-content: center;
  }
}

.partnership-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 48px;
  padding-top: 32px;
  padding-bottom: 32px;

  @include at-media-max('tablet-lg') {
    justify-content: center;
    margin-right: 0;
  }
}

.usa-footer__social-links {
  text-wrap: nowrap;
  padding: 0;
  padding-bottom: 18px;

  @include at-media-max('tablet-lg') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    &::before {
      content: "";
      display: block;
      background-color: #d3d3d3;
      height: 1px;
      width: 100vw;
    }
  }

  a {
    margin-top: 18px;
  }
}
