@use "uswds-core" as *;
@use "variables" as *;

.usa-sign-up {
    .usa-form {
        @include at-media('tablet') {
            display: flex;
        }
    }
    .usa-sign-up__heading {
        font-size: 16px;
    }

    .usa-label {
        font-size: 16px;
        font-weight: 400;
    }

    .usa-input {
        height: 100%;
        border-radius: 4px;
        border: 1px $bg-light-medium solid;

        @include at-media('tablet') {
            width:70%;
        }
    }

    .usa-button {
        @include u-padding-y('105');
        height: 38px;

        @include at-media('tablet') {
            @include u-margin-top(1);
            @include u-margin-right(0);
            @include u-margin-left(2);
        }
    }
}
