@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-side-nav__container {
  @include u-width('full');
  @include u-position('sticky');
  @include u-order(2);
  margin-top: units($theme-in-page-nav-margin-top);
  margin-inline-start: 4rem;
  padding-inline-start: 4rem;
  max-width: 20rem;
  top: units($theme-in-page-nav-top);

  @include at-media-max('tablet-lg') {
    @include u-display('none');
  }
}

.usa-in-page-nav {
  @include grid-offset(1);
  @include u-margin-left(0);
  @include u-padding(0);
  max-width: inherit;
  position: unset;
}

.usa-in-page-nav__list {
  @include u-border(0);
  border-inline-start: 1px solid $bg-light-medium;

  a:not(.usa-button) {
    &:not(.usa-current) {
      @include vote-link-bg;
    }

    &.usa-current {
      @include vote-link-bg; // add back ($color: $base-dark) when USWDS fix is made

      // turning off styling until USWDS fix is made
      &:after {
        display: none; // temporarily hiding section indicator
        // @include u-left(0);
        // inset-inline-start: 0;
        // background-color: $base-dark;
      }
    }
  }
}

.usa-in-page-nav__item {
  &:not(.usa-in-page-nav__item--primary) a {
    padding-inline-start: 1.5rem;
  }
}
