@use "uswds-core" as *;
@use "variables" as *;

.usa-button {
  .usa-form & {
    @include u-margin-top(3);
  }
}

.usa-button, .usa-button:not(.usa-button--unstyled), .usa-button:not(.usa-button--unstyled):hover {
  --usa-button-bg: inherit;
  background-color: var(--usa-button-bg);

  [data-theme="contrast"] & {
    --usa-button-bg: #{$button-high-contrast};
  }
}

// Custom usa-button overrides using USWDS mixins and other settings.
.usa-button:not(.usa-button--unstyled) {
  @include u-text('medium');
  --usa-button-bg: #345D96;
  --usa-button-text: #FFF;
  padding: 0.9rem 1.4rem;
  background-color: var(--usa-button-bg);
  color: var(--usa-button-text);

  &.usa-button--active {
    --usa-button-bg: #{$base-dark};
  }

  &:hover,
  &:focus,
  &.usa-focus,
  &.usa-button--hover
  {
    --usa-button-bg: $base-primary-hover;
    --usa-button-text: #FFF;
    background-color: var(--usa-button-bg);
    color: var(--usa-button-text);

    [data-theme="contrast"] & {
      --usa-button-bg: #{$button-hover-bg-high-contrast};
      --usa-button-text: #{$button-hover-txt-high-contrast};
    }
  }

  &.usa-button--secondary {
    --usa-button-bg: #{$ac-warm};

    [data-theme="contrast"] & {
      --usa-button-bg: #{$button-high-contrast};
    }

    &.usa-button--active {
      --usa-button-bg: $ac-warm-active;
      --usa-button-text: #FFF;
      background-color: var(--usa-button-bg);
      color: var(--usa-button-text);

      [data-theme="contrast"] & {
        --usa-button-bg: #{$button-hover-bg-high-contrast};
        --usa-button-text: #{$button-hover-txt-high-contrast};
      }
    }

    &:hover,
    &:focus,
    &.usa-focus,
    &.usa-button--hover {
      --usa-button-bg: $ac-warm-active;
      --usa-button-text: #FFF;
      background-color: var(--usa-button-bg);
      color: var(--usa-button-text);

      [data-theme="contrast"] & {
        --usa-button-bg: #{$button-hover-bg-high-contrast};
        --usa-button-text: #{$button-hover-txt-high-contrast};
      }
    }
  }

  .usa-language-container & {
    @include at-media-max('tablet') {
      @include u-width('full');
    }
  }
}
