@use "uswds-core" as *;
@use "variables" as *;

.usa-search {
  .usa-input {
    @include u-radius(0);
    @include u-padding-x(2);
    @include u-padding-y(1);
    @include u-height(5);
    @include u-maxw('none');
    border: 1px solid $bg-light-medium;
    border-inline-end-width: 0;
    border-end-start-radius: 0.25rem;
    border-start-start-radius: 0.25rem;
  }

  .usa-button--search {
    @include u-radius(0);
    @include u-height(5);
    @include u-padding(1);
    border-end-end-radius: 0.25rem;
    border-start-end-radius: 0.25rem;
  }
}
