@use "uswds-core" as *;
@use "variables" as *;

.usa-navbar {
  @include u-justify-content('justify');
  @include u-height('auto');

  .usa-menu-btn {
    background-image: url( '../../../votegov/img/svg/menu.svg' );
    background-position: 100% 50%;
    background-repeat: no-repeat;
    overflow: visible;
    background-color: $bg-light;
    height: unset;
    text-transform: unset;
    font-size: 17px;
    font-weight: 500;
    padding-right: 23px;
    padding-left: 0px;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 24px;
    margin-left: 24px;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}

.usa-logo {
  width: 157px;
  margin-top: 20px;
  margin-bottom: 20px;

  @include at-media-max('desktop') {
    @include u-margin-y(2);
  }
}

.usa-header {
  background-color: $base-white;
  border-color: $bg-light-medium;
  @include u-border-bottom(1px);

  &--basic {
    .usa-nav-container {
      align-items: center;
    }

    .usa-nav {
      @include u-padding(0);

      &__link:hover::after {
        display: none; 
      }
    }

    .usa-navbar {
      width: unset;

      .usa-menu-btn {
        background-color: transparent;
        color: #11385B;
      }
    }
  }
}

.usa-overlay {
  &.is-visible {
    display: none;
  }
}
