@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-identifier {
  // Default to USWDS colors
  --usa-identifier-bg: #{color('base-darkest')};
  background-color: var(--usa-identifier-bg);

  [data-theme="contrast"] & {
    --usa-identifier-bg: #{$bg-high-contrast};
  }
}

.usa-identifier__required-link,
.usa-identifier__required-link.usa-link,
.usa-identifier__identity-disclaimer a,
.usa-identifier__container a {
  @include vote-link-dark;
}

