@use "uswds-core" as *;
@use "variables" as *;

.usa-sign-up {
    .usa-form {
        @include at-media('tablet') {
            align-items: baseline;
            display: flex;
        }
    }
    .usa-sign-up__heading {
        font-size: 16px;
    }

    .usa-label {
        font-size: 16px;
        font-weight: 400;
    }

    .usa-input {
        @include u-height(6);
        @include u-radius('md');
        border: 1px $bg-light-medium solid;

        @include at-media('tablet') {
            @include u-margin-right(2);
            max-width: 30rem;
        }

        @include at-media-max('tablet') {
            @include u-margin-bottom(2);
        }
    }

    .usa-button {
        @include u-padding-y('105');
        @include u-padding-x('205');
        @include u-height(6);
        @include u-margin(0);
        min-width: 95px;

        @include at-media-max('tablet') {
            @include u-width('full');
        }
    }
}
