@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.usa-identifier {
    @include vote-block-padding-y--narrow;
    @include u-border-top(1px);
    @include u-border-top('solid');
    border-color: $bg-light-medium;
    background-color: $base-white;
    color: $base-dark;

    @include at-media('tablet') {
        @include u-display('flex');
        .grid-row {
            @include u-flex('no-wrap')
        }
    }

    .usa-identifier__logo{
        height: 36px;
        width: 172px;
    }

    .usa-identifier__identity-disclaimer{
        @include u-position('relative');
        @include u-font-weight('normal');

        p {
            max-width: 75%;
        }
    }

    .usa-identifier__section--usagov {
      @include at-media-max('tablet') {
        @include u-margin-top(4);
      }

        ul {
            list-style-type: none;
            @include u-padding(0);
            @include u-margin-top(2);

            @include at-media('tablet-lg') {
                columns: 2;
              column-gap: 2rem;
            }

            p {
                @include u-margin-top(0);
            }
        }

        li {
            @include u-margin(0);

          + li {
            @include u-margin-top(3);
          }
        }

        a {
            color: $base-primary;
            @include u-font-weight('bold');
            @include u-text('underline');
            :visited {
                color: $base-primary;
            }
            &:focus,
            &:hover {
                background-color: $base-primary-hover;
                color: $base-white;
                @include u-text('no-underline');
            }
        }
    }
}
