@use "uswds-core" as *;
@use "variables" as *;

.usa-form {
  @include u-maxw('tablet');

  .usa-sign-up & {
    @include u-font-family('serif');
  }
}

.usa-input {
  @include u-padding(1.5);
  @include u-height('auto');
  @include u-line-height('sans', 1);
  @include u-font-size('sans', 5);
}

.nvrf-app-container {
  .usa-form {
    .usa-input {
      height: 40px !important;
    }
  }

  a:where(:not(.usa-button)):active {
    text-decoration: none;
    background-color: var(--vote-link-hover--bg-color);
    color: var(--vote-link-hover--color);
  }
}



::placeholder {
  --input-placeholder--text: inherit;
  color: var(--input-placeholder--text);

  [data-theme="contrast"] & {
    --input-placeholder--text: #{$text-high-contrast};
    opacity: 1; //override Firefox
  }
}

// .usa-form a:where(:not(.usa-button)):active {
//   text-decoration: none;
//   background-color: var(--vote-link-hover--bg-color);
//   color: var(--vote-link-hover--color);
// }
