/* Load the regular font */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Load the italic font */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Load the medium font */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Load the medium italic font */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Load the bold font */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Load the bold italic font */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}