// Base Colors.
$base-white: #FFF; // gray-cool-1
$base-dark: #11385B; // blue-warm-80v
$base-primary: #3E79BB; // blue-warm-50
$base-primary-hover: #2E598A; // blue-60
$base-primary-active: $base-dark;

// Accent Colors.
$ac-warm: #CB5154; // red-cool-50
$ac-warm-hover: #A13032;
$ac-warm-active: #721113;
$ac-cool: #2D7497; // blue-cool-50
$ac-cool-light: #0AAAE2; // cyan-30v
//$ac-dark: #8F4F91; // violet-warm-60

// Background Colors.
$bg-light: #F7F9FA; // gray-cool-2
$bg-light-medium: #D3D3D3; // gray-cool-20 is this just for the horizontal rule?
$bg-light-cool: #E2EDF2; // blue-warm-10
$bg-light-warm: #e7e5dd; // hero-background

// High Contrast Colors/
$bg-high-contrast: black;
$text-high-contrast: white;


[data-theme="contrast"] {
  --main-color: black;
  }