@use 'uswds-core' as *;
@use '../mixins' as *;
@use '../variables' as *;

.sitemap {
  margin-top: 40px;
  margin-bottom: 60px;

  ul.main-nav,
  ul.register-nav {
    list-style-type: none;

    .views-field.views-field-title .field-content a,
    li a {
      color: $color-blue-dark;
    }
  }

  ul.register-nav {
    columns: 2;
    @include at-media('tablet') {
      columns: 3;
    }
  }
}
