body {
    background-color: #F7F9FA;
}

.page-content {
    color: #31425F;
}

.modular-content {
    margin-top: 25px;
    
    .red-line {
        width: 96px;
        height: 4px;
        background: #CB5154;
        display: block;
    }    

    .overlay-container {
        height: 162px;
        position: relative;
        background-color: #2d7497;
        border-radius: 3px 3px 0 0;
        padding: 64px;
        height: 100%;

        // img {
        //   display: block;
        //   object-fit: cover;
        //   width: 100%;
        //   height: auto;
        // }

        .overlay-txt {
          font-size: 36px;
          color: #fff;
          text-align: center;
          position: relative;
        }

    }
}

.basics-module-taxonomy {
    background-color: #fff;
    padding: 32px;
}