@use "uswds-core" as *;
@use "mixins" as *;
@use "variables" as *;


.vote-theme-options {
  @include u-position('fixed');
  @include u-display('flex');
  @include u-z(300);

  @include at-media('tablet') {
    @include u-flex-direction('column');
    top: calc(50% - 3.125rem);
    inset-inline-start: 0;
  }

  @include at-media-max('tablet') {
    inset-inline-start: calc(50% - 3.125rem);
    bottom: 0;
  }
}

.vote-theme-options__button {
  --theme-options-button--bg: #{$base-white};
  --theme-options-button--bg-hover: #{$base-primary-hover};
  @include button-unstyled;
  @include u-display('block');
  @include u-width('full');
  @include u-padding(2);
  border: 1px solid $base-dark;
  background-color: var(--theme-options-button--bg);
  cursor: pointer;

  @include at-media('tablet') {
    border-inline-start: 0;
  }

  @include at-media-max('tablet') {
    border-bottom: 0;
    --theme-options-button--bg: #{$base-primary};

    @include hover {
      --theme-options-button--bg-hover: #{$base-dark};
    }
  }

  @include hover {
    background-color: var(--theme-options-button--bg-hover);
  }

  &:first-child {
    @include at-media('tablet') {
      @include u-border-bottom(0);
      border-start-end-radius: 0.5rem;
    }

    @include at-media-max('tablet') {
      border-inline-end: 0;
      border-start-start-radius: 0.5rem;
    }
  }

  &:last-child {
    @include at-media('tablet') {
      border-end-end-radius: 0.5rem;
    }

    @include at-media-max('tablet') {
      border-start-end-radius: 0.5rem;
    }
  }

  [data-theme="contrast"] & {
    @include hover {
      --theme-options-button--bg-hover: #{$btn-bg-high-contrast};
    }

    @include at-media-max('tablet') {
      --theme-options-button--bg: #{$btn-bg-high-contrast};
      @include hover {
        --theme-options-button--bg-hover: #{$btn-bg-high-contrast-hover};
      }
    }
  }
}

.vote-theme-options__button.vote-theme-options__button--theme {
  @include hover {
    @include before {
      background: url("../../img/svg/dark-light-white.svg") no-repeat center center;
    }
  }
}

.vote-theme-options__button--theme {
  @include before {
    @include u-width(2);
    @include u-height(2);
    @include u-display('block');
    background: url("../../img/svg/dark-light.svg") no-repeat center center;
    background-size: contain;

    @include at-media-max('tablet') {
      background: url("../../img/svg/dark-light-white.svg") no-repeat center center;
    }
  }
}

.vote-theme-options__button.vote-theme-options__button--scale {
  @include hover {
    @include before {
      background: url("../../img/svg/text-size-white.svg") no-repeat center center;
    }
  }
}

.vote-theme-options__button--scale {
  @include before {
    @include u-width(2);
    @include u-height(2);
    @include u-display('block');
    background: url("../../img/svg/text-size.svg") no-repeat center center;
    background-size: contain;

    @include at-media-max('tablet') {
      background: url("../../img/svg/text-size-white.svg") no-repeat center center;
    }
  }
}

[data-scale="large"] {
  font-size: 115%;
}

[data-scale="x-large"] {
  font-size: 130%;
}
