@use "uswds-core" as *;
@use "variables" as *;

.basics-block {
  @include at-media-max('tablet') {
    @include u-margin-x('neg-205');
  }

  + .basics-block {
    @include at-media('tablet') {
      @include u-margin-top(3);
    }
  }
}

.basics-block--heading {
  @include u-padding(8);
  @include u-font-size('serif', 11);
  @include u-text-align('center');
  background-color: $ac-cool;
  color: $base-white;

  @include at-media('tablet') {
    @include u-radius-top('md');
  }

  > span {
    @include u-position('relative');
  }
}

.basics-block--content {
  @include u-padding(2.5);
  @include u-margin-top(0);
  background-color: $base-white;

  > * + * {
    @include u-margin-top(5);
  }

  @include at-media('tablet') {
    @include u-padding(4);
  }
}
