@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-basics-block {
  .vote-page-content & {
    @include at-media-max('tablet') {
      @include u-margin-x('neg-3');
    }
  }

  .vote-type-landing & {
    @include vote-block-margin-y;

    @include at-media('tablet') {
      @include grid-container();
    }

    > * {
      @include at-media('desktop') {
        @include grid-col(7);
      }
    }
  }

  + .vote-basics-block {
    @include at-media('tablet') {
      @include u-margin-top(3);
    }
  }
}

.vote-basics-block__heading {
  @include u-padding(8);
  @include u-font-size('serif', 11);
  @include u-radius-top('md');
  @include u-text-align('center');
  @include u-position('relative');
  background-color: $ac-cool;
  color: $base-white;

  span {
    @include u-position('relative');
  }

  @include before {
    @include u-radius-top('md');
    @include u-position('absolute');
    @include u-display('block');
    @include vote-fill;
    background: url(../../../votegov/img/fpo_hero.webp);
    background-size: cover;
    background-color: $ac-cool;
    background-repeat: no-repeat;
    background-position: center center;
    mix-blend-mode: multiply;
    opacity: 0.4;
  }
}

.vote-basics-block__content {
  @include u-margin-top(0);
  @include u-margin-x(0);
  background-color: $base-white;

  > * + * {
    @include u-margin-top(5);
  }

  @include at-media-max('tablet') {
    @include u-padding(2.5);
  }
}

