@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-call-out-box-offset {
  @include at-media('tablet') {
    .vote-page-content {
        top: -8.5rem;
      }
  }
}

.vote-call-out-box {
  padding: 32px;
  background-color: #E7F6F8;
  border-radius: 8px;
}
