@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

$eacgov-partner-breakpoint: 'tablet-lg';

.vote-eac-partner {
  --vote-eac-patner-bg: #{$bg-light-cool};
  @include u-text-align('center');
  @include u-font-family('serif');
  background-color: var(--vote-eac-patner-bg);

  [data-theme="contrast"] & {
    --vote-eac-patner-bg: #{$section-bg-high-contrast};
  }
}

.vote-eac-partner__container {
  @include grid-container;
  @include at-media($eacgov-partner-breakpoint) {
    @include u-display('flex');
    @include u-flex('justify');
    @include u-align-items('align-center');
    gap: 3rem;
  }
  @include at-media-max($eacgov-partner-breakpoint) {
    > * + * {
      @include u-margin-top(3);
    }
  }
}

.vote-eac-partner__logo {
  @include u-font-size('serif', 3);

  @include at-media($eacgov-partner-breakpoint) {
    @include u-display('flex');
    @include u-align-items('align-center');
    text-align: start;
    gap: 1.5rem;
  }
  @include at-media-max($eacgov-partner-breakpoint) {
    > * + * {
      @include u-margin-top(3);
    }
  }
}

.vote-eac-partner__logo-img img {
  @include u-maxw('none');
  @include u-width(8);
  @include u-height(8);
}

.vote-eac-partner__logo-link {
  @include vote-link($color: $base-dark, $color-hover: $base-primary-hover);
  @include u-display('inline-flex');
  @include u-align-items('align-center');
  @include u-text-decoration('no-underline');
  @include u-font-size('serif', 2);
  @include u-line-height('serif', 3);
  text-align: start;
  gap: 1rem;

  span {
    @include u-display('block');
    @include u-width(15);
  }
}

.vote-eac-partner__social-link {
  @include u-white-space('no-wrap');
  @include vote-link($color: $base-dark, $color-hover: $base-primary-hover);
  @include u-display('inline-flex');
  @include u-align-items('align-center');

  > * {
    @include u-margin(0);
  }

  img {
    @include u-maxw('none');
    margin-inline-start: 1rem;
  }
}
