@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-eac__section {
  @include u-padding(0);
  align-content: center;
  background-color: $bg-light-cool;
}

.vote-eac-partner-container {
  @include u-display('flex');
  @include u-flex('wrap');
  @include u-margin-right(6);
  @include u-padding-y(4);

  @include at-media-max('tablet-lg') {
    @include u-flex('justify-center');
    @include u-margin-right(0);
  }
}

.eac-container__text {
    @include u-margin-y('auto');

    @include at-media('tablet'){
      @include u-padding-right(3);
    }

    @include at-media-max('tablet') {
      @include u-padding-bottom(2);
    }
}

.eac-logo-container {
    a>img {
        min-width: 144px;
    }
}

.vote-usa-footer__social-links {
    @include u-padding(0);
    @include u-padding-bottom(2);
    text-wrap: nowrap;

    @include at-media-max('tablet-lg') {
      @include u-display('flex');
      @include u-flex('no-wrap');
      @include u-flex('justify-center');
    }

    a {
      @include vote-link($color: $base-dark);
      @include u-margin-top(2);
    }

    img {
        @include u-height(4);
        @include u-margin-left(2);
        @include u-margin-top(0);
    }
}

.vote-social-link {
    @include u-display('flex');
    @include u-flex('align-center');
}
