@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.gsa-container {
    @include u-display('flex');
    align-self: center;

    @include at-media('tablet-lg') {
        &:after {
            content: '';
            @include u-height(6);
            @include u-width('1px');
            @include u-margin-x(6);
            background-color: $bg-light-medium;
        }
    }

    @include at-media-max('tablet-lg') {
        @include u-width('full');
    }

    img {
        @include u-margin-left('auto');
    }

    span {
        @include u-margin-right('auto');
        @include u-margin-left(2);
        font-family: 'Roboto';
        max-width: 202px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        align-self: center;
    }
}

.gsa-container__text {
    font-size: 14px;
}

.eac-container__text {
    @include u-margin-y('auto');
    @include u-padding-right(3);
}

.eac-logo-container {
    a>img {
        min-width: 144px;
    }
}

.usa-footer__social-links {
    text-wrap: nowrap;
    padding: 0;
    padding-bottom: 18px;

    @include at-media-max('tablet-lg') {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;


      &::before {
        content: "";
        display: block;
        background-color: #d3d3d3;
        height: 1px;
        width: 100vw;
      }
    }

    a {
      margin-top: 18px;
      color: $base-dark;
    }

    img {
        @include u-height(4);
        @include u-margin-left(2);
        @include u-margin-top(0);
    }
}

.vote-social-link {
    display: flex;
    align-items: center;
}
