@forward 'usa-footer';
@use "uswds-core" as *;

.usa-footer__primary-section {
    .grid-container {
      @include at-media('tablet') {
      display: flex;
      padding: 32px;
    }
  }
}

.identifier-links {

  @include at-media-max('tablet') {
    //display:flex;
  }

  li {
    @include at-media-max('tablet') {
      padding-top: 10px;
    }

    @include at-media('tablet') {
      +li {
        padding-top: 20px;
      }
    }

    a {
      text-decoration: none;
      color: #3E79BB;
      word-break: break-word;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
