@forward 'usa-footer';
@use "uswds-core" as *;
@use "variables" as *;

.usa-footer__secondary-section {
    @include u-padding-y(6);
    @include u-border-top(1px);
    @include u-border-top('solid');
    border-color: $bg-light-medium;
    background-color: #f0f0f0;
}

.usa-footer__logo {
    color: $base-dark;
}

.partner-logo-menu {
    @include at-media('tablet') {
        @include u-display('flex');
    }
}

.gsa-img-container {
    @include u-padding-right(2);
}

.gsa-text-container {
    @include at-media('tablet') {
        @include grid-col(3);
    }
}

.eac-logo-container {
    @include u-position('relative');
    @include at-media('tablet') {
        @include grid-col(3);
        @include u-padding-left(6);
        &:before {
            content: '';
            background-color: $bg-light-medium;
            @include u-display('block');
            @include u-position('absolute');
            @include u-width('2px');
            @include u-height(6);
            @include u-margin-y('auto');
            @include u-left(0);
            @include u-top(0);
            @include u-bottom(0);

        }
    }

    @include at-media-max('tablet'){
        @include grid-col('auto');
    }
}

.usa-footer__social-links {
    @include u-display('flex');
    @include u-flex('align-center');
    @include at-media('tablet') {
        @include grid-col(5);
    }
}

.usa-social-link {
    @include u-radius-top('pill');
    @include u-radius-bottom('pill');
    @include u-width(4);
    @include u-height(4);
    @include u-margin(0.5);
    background-color: $bg-light-cool;
}

.usa-social-link__icon {
    @include u-width(2);
    @include u-height(2);
}