@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.gsa-container {
  @include u-display('flex');
  @include u-flex('align-self-center');

  @include at-media-max('tablet-lg') {
      @include u-width('full');
  }

  img {
    @include u-margin-right(2);
  }

  span {
      @include u-margin-right('auto');
      @include u-font('sans', 'xs');
      @include u-flex('align-self-center');
      line-height: 24.80px;
      p {
        color: #ADADAD;
      }
  }
}

.identifier-gov-info{
  @include u-font('sans', '3xs');
}

.vote-identifier-links-container {
  @include grid-container;
  @include u-margin-y(4);
}

.vote-identifier-links {
  column-gap: 24px;

  @include at-media-max('mobile') {
    column-count: 1;
  }

  @include at-media('mobile-lg') {
    column-gap: 1.5rem;
    column-count: 2;
  }

  @include at-media('tablet') {
    column-count: 3;
  }

  @include at-media('tablet-lg') {
    column-count: 4;
    column-gap: 2rem;
  }

  li {
    + li {
      @include u-margin-top(1);
    }

    a, a:visited {
      @include vote-link-light;
      @include u-font('sans', '3xs');
      word-break: break-word;
    }
  }
}
