@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-hero {
  --vote-hero--bg-color: #{$bg-light-warm};
  --vote-hero--text-color: inherit;
  background-color: var(--vote-hero--bg-color);
  color: var(--vote-hero--text-color);
}

.vote-hero__container {
  @include at-media('tablet-lg') {
    @include grid-container;
    @include grid-row;
  }
}

.vote-hero__image {
  @include at-media('tablet-lg') {
    @include grid-col(5);
    @include u-position('relative');
    margin-inline-start: calc(100% / 12);
  }

  img {
    @include u-display('block');

    @include at-media('tablet-lg') {
      @include u-position('absolute');
      @include u-top(0);
      @include u-bottom(0);
      @include u-width('auto');
      @include u-height('full');
      @include u-maxw('none');
      inset-inline-start: 0;
    }
  }
}

.vote-hero__callout {
  @include vote-block-padding-y--narrow;

  @include at-media('tablet-lg') {
    @include grid-col(6);
    @include u-padding-bottom(15);

    &:not(:has(nav)) {
      @include u-padding-top(15);
    }
  }

  @include at-media-max('tablet-lg') {
    @include grid-container;
  }

  > * + * {
    @include u-margin-top(3);
  }
}

.vote-hero__heading {
  color: var(--vote-hero--text-color);
  @include u-font('serif', 12);

  @include at-media('tablet-lg') {
    @include u-font-size('body', 14);
  }
}

.vote-hero--dark {
  --vote-hero--bg-color: #{$base-dark};
  --vote-hero--text-color: #{$base-white};

  [data-theme="contrast"] & {
    --vote-hero--bg-color: #{$bg-high-contrast};
  }
}
