@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-nvrf-loader {
  background: url('../../img/loader.gif') no-repeat center;
  height: 5rem;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}
