@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-main-content-row {
  display: flex;
}

.vote-state-territory-content {
  @include vote-narrow-container;
  --state-territory-text: inherit;
  --state-territory-h2: inherit;
  color: var(--state-territory-text);

  h2 {
    color: var(--state-territory-h2);
  }

  [data-theme="contrast"] & {
    --state-territory-text: #{$base-white};

    h2 {
      --state-territory-h2: #{$base-white};
    }
  }
}

.vote-page-content {
  @include u-margin-top(4);
  @include u-margin-bottom(6);
  @include u-position('relative');
  --vote-page-content-text: inherit;
  --vote-page-content-h2: inherit;
  color: var(--vote-page-content-text);

  h2 {
    color: var(--vote-page-content-h2);
  }

  [data-theme="contrast"] & {
    --vote-page-content-text: #{$base-white};

    h2 {
      --vote-page-content-h2: #{$base-white};
    }
  }

  .field--name-field-media {
    @include u-text-align('center');

    img {
      height: 310px;
    }
  }

  .field--name-field-body {
    @include vote-narrow-container;
  }

  @include at-media('tablet') {
    @include u-margin-top(6);
    @include u-margin-bottom(10);
  }

  &.vote-page-content--sidebar {
    @include at-media('desktop-lg') {
      @include grid-offset(1);
      margin-left: 135px;
      margin-right: 213px;

      article>div {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &.vote-page-content--image-offset {
    margin-top: -14rem;
  }
}

.vote-page-content--alt {
  @include u-margin-y(0);

  @include at-media('tablet-lg') {
    @include grid-col(6);
  }
}
