@use "uswds-core" as *;
@use "variables" as *;

$masthead-background-color: $base-dark;

.page-masthead {
  background-color: $masthead-background-color;
  @include u-position('relative');
  @include u-padding-top(4);
  @include u-padding-bottom(6);

  &:before {
    content: "";
    @include u-display('block');
    @include u-position('absolute');
    @include u-top(0);
    @include u-bottom(0);
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: $masthead-background-color;
  }

  > * {
    @include u-position('relative');
  }

  &.page-masthead--image-offset {
    @include u-padding-bottom(15);
  }
}

.voter-guide-page-masthead {
  background-color: $masthead-background-color;
  @include u-position('relative');
  @include u-padding-top(4);
  @include u-padding-bottom(6);

  &:before {
    content: "";
    @include u-display('block');
    @include u-position('absolute');
    @include u-top(0);
    @include u-bottom(0);
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: $masthead-background-color;
  }

  > * {
    @include u-position('relative');
  }

  &.voter-guide-page-masthead--image-offset {
    @include u-padding-bottom(15);
  }
}
