@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-main-content-row {
  display: flex;
}

.vote-page-content {
  @include u-margin-top(4);
  @include u-margin-bottom(6);
  @include u-position('relative');

  .field--name-field-media {
    @include at-media('desktop') {
      @include u-maxw('tablet-lg');
      @include u-margin-x('auto');
    }

    img {
      aspect-ratio: 5 / 2;
      object-fit: cover;
    }

    + .field--name-field-body {
      @include u-margin-top(4);

      @include at-media('tablet-lg') {
        @include u-margin-top(6);
      }
    }
  }

  .field--name-field-body {
    @include vote-narrow-container-left-align;
  }

  @include at-media('tablet') {
    @include u-margin-top(6);
    @include u-margin-bottom(10);
  }

  &.vote-page-content--sidebar {
    @include at-media('desktop-lg') {
      @include grid-offset(1);
      margin-left: 135px;
      margin-right: 213px;

      article>div {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &.vote-page-content--image-offset {
    margin-top: -6rem;

    @include at-media('tablet-lg') {
      margin-top: -14rem;
    }
  }
}

.vote-page-content--alt {
  @include u-margin-y(0);

  @include at-media('tablet-lg') {
    @include grid-col(6);
  }
}
