@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-quicklinks {
  background-color: $base-dark;
  color: $base-white;
}

.vote-quicklinks__container {
  @include grid-container;
  @include grid-row;
  @include vote-block-padding-y;
  @include u-padding-x(3);
  @include u-flex('align-center');

  @include at-media('tablet') {
    @include u-padding-x(4);
  }

  @include at-media('desktop') {
    @include u-padding-x(10);
    @include u-padding-y(8);
  }

}

.vote-quicklinks__heading {
  @include u-font-size('body', 'xl');
  @include u-text('bold');

  h2 {
    color: $base-white;
  }

  @include at-media('desktop') {
    @include grid-col(6);
  }
}

.vote-quicklinks__content{
  @include u-font('sans', 'md');

  a {
    @include u-text('bold');
    color: $base-white !important;
    text-decoration: none;

    &:hover{
      @include u-text('underline');
      background-color: $base-dark;
    }

    &::after{
      content: url( '../../../votegov/img/svg/arrow-white.svg' );
      @include u-padding-left(0.5)
    }

    &:hover::after{
      @include u-padding-left(1.5);
      transition: 0.2s ease-in-out;
      transform: translateX(12px);
    }
  }
  
  @include at-media('desktop') {
    @include grid-col(5);
    @include grid-offset(1);
  }
}
