@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-quicklinks {
  background-color: $base-dark;
  color: $base-white;
}

.vote-quicklinks__container {
  @include grid-container;
  @include grid-row;
  @include vote-block-padding-y;
  @include u-flex('align-center');
}

.vote-quicklinks__heading {
  color: $base-white;

  @include at-media('desktop') {
    @include grid-col(6);
  }
}

.vote-quicklinks__content {
  @include u-font('sans', 6);

  @include at-media('desktop') {
    @include grid-col(5);
    @include grid-offset(1);
    @include u-margin-top(0);
  }

  a {
    @include vote-link-dark;
    @include u-text('bold');
    @include u-text('no-underline');

    @include after {
      @include u-padding-left(2);
      background: url('../../img/svg/arrow-white.svg') no-repeat right center;
    }
  }

  ul {
    @include add-list-reset;
  }
}
