@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-registration-tool {
  --registration-tool--bg:#{$base-dark};
  @include vote-block-padding-y--narrow;
  background-color: var(--registration-tool--bg);
  color: $base-white;

  @include at-media('tablet-lg') {
    background: var(--registration-tool--bg) url('../../img/hero-map.webp') no-repeat center center;
    background-size: cover;
  }

  a {
    //incldue hc trigger in this file
    @include vote-link-dark;
  }

  [data-theme="contrast"] & {
    --registration-tool--bg: #{$bg-high-contrast};
    background: unset;
  }
}

.vote-registration-tool__container {
  @include grid-container;
}

.vote-registration-tool__content {
  @include at-media('tablet-lg') {
    @include grid-row;

    .vote-registration-tool__text {
      @include grid-col(6);
    }

    .vote-registration-tool__form {
      @include grid-col(5);
      margin-inline-start: calc(100% / 12);
    }
  }

  @include at-media-max('tablet-lg') {
    .vote-registration-tool__form {
      @include u-margin-top(5);
    }
  }
}

.vote-registration-tool__heading {
  color: $base-white;
}

.vote-registration-tool__label {
  @include u-display('block');
  @include u-font-family('sans');
  @include u-margin-bottom(2);
}

.vote-registration-tool__input {
  @include u-display('block');
  @include u-radius('md');
  @include u-width('full');
  @include u-margin-bottom(1);
  padding-inline-start: 2.5rem;
  color: $base-dark;
  border: 1px $bg-light-medium solid;
  background: $base-white url('../../img/svg/location.svg') no-repeat 1rem center;

  [dir="rtl"] & {
    background-position: calc(100% - 1rem) center;
  }
}

.vote-registration-tool__list-container {
  @include u-radius('md');
  @include u-font-family('sans');
  @include u-height('card-lg');
  border-color: 1px $bg-light-medium solid;
  background-color: $base-white;
  color: $base-dark;
  overflow: auto;
}

.vote-registration-tool__nav {
  ul {
    @include add-list-reset;
    @include u-padding(2);

    a {
      @include vote-link($color: $base-dark, $color-hover: $base-primary-hover, $color-bg: 'transparent');
      @include u-padding-y(0.5);
      @include u-padding-x(1);
      @include u-display('inline-block');
      text-decoration: none;

      @include hover {
        text-decoration: underline;
      }
    }
  }
}
