@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.touchpoints-form-wrapper {
  h2.fba-modal-title {
    @include u-margin-top(3);
  }
}

.vote-touchpoints--button {
  @include u-margin(0);

  @include at-media-max('tablet') {
    @include u-radius(0);
    @include u-width('full');
  }

  @include at-media('tablet') {
    @include u-position('fixed');
    @include u-bottom(0);
    @include u-right(3);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Targeting the submit button on embedded form
.fba-modal-dialog .usa-form .usa-button {
  --usa-button-bg: #{$base-primary};
  --usa-button--outline: #{color('blue-40v')};
  background-color: var(--usa-button-bg);
  outline-color: var(--usa-button--outline);

  [data-theme="contrast"] & {
    --usa-button-bg: #{$btn-bg-high-contrast};
    outline-color: var(--usa-button--outline);
  }
}
