@use "uswds-core" as *;
@use "variables" as *;
@use "mixins" as *;

.vote-usagov-partner {
    @include vote-block-padding-y--narrow;
    background-color: $base-white;
    color: $base-dark;

    .vote-usagov-partner-links {
        @include at-media-max('tablet') {
            @include u-margin-top(4);
        }

        ul {
            @include u-padding(0);
            @include u-margin-y(5);
            list-style-type: none;

            @include at-media-max('tablet'){
                @include u-margin-top(4);
            }

            @include at-media('tablet') {
                columns: 2;
                column-gap: 2rem;
            }

            @include at-media('tablet-lg') {
                columns: 3;
                column-gap: 2rem;
            }

            p {
                @include u-margin-top(0);
            }
        }

        li {
            @include u-margin(0);

            + li {
            @include u-margin-top(5);

            @include at-media-max('tablet'){
                @include u-margin-top(4);
            }
            }
        }

        a {
            @include u-font-weight('bold');
            @include u-text('underline');
            @include vote-link($color: $base-dark);
        }
    }

    .vote-usagov-partner__logo{
        @include u-margin-right(2);
    }

    .vote-usagov-partner__identity
    {
        @include u-display('flex');
        @include at-media-max('tablet-lg'){
            @include u-margin-top(4);
        }
    }

    .vote-usagov-partner__identity-disclaimer{
        @include u-position('relative');
        @include u-font-weight('normal');

        @include at-media('tablet-lg')
        {
            p {
                font-size: 16px;
                max-width: 75%;
            }
        }

        @include at-media-max('tablet-lg'){
            @include u-margin-y('auto');

            p {
                font-size: 14px;
                max-width: 100%;
            }
        }
    }

    .vote-partners-contact-container {
        @include vote-solid-border-top;
    }

    .vote-usa-contact-container {
        @include grid-container;
        @include vote-remove-external-link;
        @include u-display('flex');

        @include at-media-max('tablet-lg'){
            flex-wrap: wrap;
        }
    }

    .vote-usagov-partner__section--masthead {
        @include u-margin-y('auto');
        @include u-font-family('serif');
    }
}
