{#
/**
 * partial
 * Voter online registration deadline
 *
 */
#}
{% set deadline = content.field_in_person_deadline | field_value | default(content.field_g_in_person_deadline | field_value) %}

{% if deadline %}
  <li><strong>{{ 'In person registration deadline:' | t }}</strong> {{ deadline }}</li>
{% endif %}

