{#
/**
 * partial
 * Voter online registration deadline
 *
 */
#}

{% if deadline_inperson %}
  <li><strong>{{ 'In person registration deadline:' | t }}</strong> {{ deadline_inperson }}</li>
{% endif %}

